<script type="text/x-template" id="refs-template">
  <div class="principal-container">
    <div class="principal-header">
      <img
        class="principal-header__icono"
        src="../iconos/intercambiar.png"
        alt="icono referencias"
      >
      <div class="principal-header__titulo">
        <span>Referencias</span>
        <div class="divider" style="--width-div:19.4rem"></div>
      </div>
    </div>
    <div class="principal-help">
      Agregue sus referencias familiares y personales, 
      recuerde que pueden ser verificadas.
    </div>
    <div class="refs-list">
      <ReferenciaComponent
        v-for="i in [0, 1]"
        :key="i"
        :index="i"
      /> 
    </div>
    <div class="center">
      <a
        class="bt bt__night"
        href="javascript:void(0);"
        @click="onSubmit"
      >Continuar
      </a>
    </div>
  </div>
</script>

{% include "./components/referencia.html" %}

<script>
  const objReferencias = {
    template: "#refs-template",
    name: "ReferenciasComponent",
    delimiters: ['[[', ']]'],
    components: {
       ReferenciaComponent: objReferencia,    
    },
    setup() {
      const emitter = inject('emitter');
      const solicitudSt = solicitudStore();

      const onSubmit = () => {
        emitter.emit("onSubmitReferencias");      
          if (solicitudSt.numReferencias == 2) {
            alert(solicitudSt.numReferencias);
          }
      }

      return {
        onSubmit,
      }
    }
  }
</script>
