<script type="text/x-template" id="refs-template">
  <div class="principal-container">
    <div class="principal-header">
      <img
        class="principal-header__icono"
        src="../iconos/intercambiar.png"
        alt="icono referencias"
      >
      <div class="principal-header__titulo">
        <span>Referencias</span>
        <div class="divider" style="--width-div:19.4rem"></div>
      </div>
    </div>
    <div class="principal-help">
      Agregue sus referencias familiares y personales, 
      recuerde que pueden ser verificadas.
    </div>
    <div class="refs-list">
      <referencia-component 
        v-for="(ref, i) in referenciasSt.refs"
        :key="i"
        :index="i"
        :referencia="ref"
      ></referencia-component>
    </div>
    <div class="center">
      <a
        href="#"
        class="bt bt__night"
        v-on:click.stop.prevent="onSubmit"
      >Continuar
      </a>
    </div>
  </div>
</script>

{% include "./components/referencia.html" %}

<script>
  const objReferencias = {
    template: "#refs-template",
    name: "ReferenciasComponent",
    delimiters: ['[[', ']]'],
    components: { ReferenciaComponent: objReferencia },
    setup() {
      const clienteSt = clienteStore();
      const referenciasSt = referenciasStore();

      const onSubmit = () => referenciasSt.onSubmit();

      onMounted(() => referenciasSt.setReferencias());

      return {
        onSubmit,
        clienteSt,
        referenciasSt,
      }
    }
  }
</script>
