/***********
 * NAVBAR
 ***********/
.desk-nav {
  display: none;
}
.nav {
  padding: 0;
  width: 100%;
  height: 8.4rem;
  background-color: var(--sun);
}
.nav__container {
  width: 100%;
  height: 6.2rem;
  background-color: var(--light);
  position: absolute;
  margin-top: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0.6rem 
}
.nav__logo {
  width: 8.75rem;
  height: 5rem;
  display: inline-block;
  float: left;
  cursor: pointer;
}
.nav__red {
  width: 8.75rem;
  height: 5rem;
  display: inline-block;
  margin: right;
  cursor: pointer;
}
.nav__menu-icon {
  float: right;
  margin-top: -3.8rem;
  margin-right: 1.6rem;
  color: var(--gray);
  font-size: 2.4rem;
  cursor: pointer;
}
.nav__options {
  display: none;
}
.nav__options--active {
  background-color: var(--sun);
  position: absolute;
  height: calc(100% - 8.4rem);
  width: 100%;
  padding: 1rem 2.2rem;
  display: flex;
  flex-direction: column;
  z-index: 900;
}
.nav__options-item {
  margin: 2rem 0;
  text-decoration: none;
  font-family: Bold;
  font-size: 2rem;
  color: var(--dark);
}
.nav__social-network {
  display: flex;
}
.nav__social-network img {
  width: 4rem;
  height: 4rem;
}
