<script type="text/x-template" id="pasos-template">
  <div class="pasos-container">
	<div class="pasos-header">
	  <img
		src="../iconos/pasos.png"
		alt="pasos de la solicitud"
		class="pasos-header__icono"
	  >
	  <div class="pasos-header__titulo">
		<span>Solicitud en proceso</span>
		<div class="divider" style="--width-div: 19.4rem"></div>
	  </div>
	</div>
	<div class="pasos-help">
	  Para realizar su solicitud, complete cada uno de los 
	  pasos dando click en continuar
	</div>
	<div class="pasos-list">
	  <div class="paso-item" v-for="item in pasosSt.items">
		<div :class="['paso-indice', (item.activo) ? 'paso--activo' : '']">
		  <span class="paso-indice__num">[[ item.indice ]]</span>
		</div>
		<div class="paso-contenido">
		  <p class="paso-desc">[[ item.desc ]]</p>
		  <a
			class="paso-edit"
			href="javascript:void(0);"
			@click="verComponente(item.componente)"
		  >editar
		  </a>
		</div>
	  </div>
	</div>
	<div class="pasos-accion">
	  <a class="pasos-continuar bt bt__night" href="">Continuar</a>
	</div>
  </div>
</script>

<script>
  const objPasos = {
	template: "#pasos-template",
	delimiters: ['[[', ']]'],
    setup() {
      const pasosSt = pasosStore();
      return {
        pasosSt,
      }
    },
  }  
</script>
