.nosotros-container {}

/*******************
 * NOSOTROS
 *******************/
.nosotros-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  padding: 3rem;
  background-color: var(--sun);  
}
.nosotros-header__titulo {
  font-family: Bold;
  font-size: 3rem;
  color: var(--dark);
}
.nosotro-header__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-align: baseline;
  padding: 3rem 0;
}
.nosotros-div {
  width: 10rem;
  height: 0.2rem;
  background-color: var(--dark);
  display: inline-block;
  margin: 0.9rem;
}

/********************
 * ITEM
 ********************/
.nosotros-item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2.4rem 1.6rem;
}
.nosotros-item__imagen {
  width: 100%;
  height: auto;
}
.nosotros-item__desc {
    
}
.nosotros-item__titulo {
  display: block;
  margin-bottom: 1rem;
  font-family: Bold;
  font-size: 3rem;
}
.nosotros-item__parrafo {
  font-family: Light;
  font-size: 2rem;
  line-height: 3rem;
}
.vision-container {
  background-color: #F8F8F8;
}

/***************
 * PRINCIPIOS
 **************/
.nosotros-principios,
.nosotros-aliados {
  margin-top: 6rem;
  margin-bottom: 6rem;
}
.principios-header, 
.aliados-header {
  text-align: center; 
}
.principios-header .divider,
.aliados-header .divider {
  margin: 1rem auto 0;
  height: 2px;
  width: 100px;
  background-color: var(--sun);
}
.principios-titulo,
.aliados-titulo {
  font-family: Bold;
  font-size: 3rem;
  color: var(--dark);
}
.principios-container,
.aliados-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.principio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 20rem;
  height: 20rem;
  border: 0.2px solid #FEFEFE;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 0 1.5rem; 
}
.principio-icono {
  width: 6rem;
  height: 6rem;
}
.principio-parrafo {
  font-family: Regular;
  font-size: 2rem;
  text-align: center;
}
.aliados-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.aliado-item {
  width: 13rem;
  height: auto;
}
