/*******************
 * ITEM
 *******************/
.nosotros-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 3rem;
  height: 31.2rem;
  padding-left: 11.4rem;
  padding-right: 11.4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-content: space-between;
}
.nosotros-item__imagen {
  display: block;
  object-fit: cover;
  max-height: 31.2rem;
  border-radius: 4px;
  max-height: 24rem;
}
.principios-container {
  flex-direction: row; 
  flex-wrap: wrap;
  gap: 2.8rem; 
  margin-left: 11.4rem;
  margin-right: 11.4rem;
}
