{% extends "../templates/admin/main.html" %}

{% block adicionalHeader %}
  <link rel="stylesheet" href="../css/solicitud/movil.css">
  <link
	rel="stylesheet"
	href="../css/solicitud/tablet.css"
	media="screen and (min-width: 768px)"
  >
  <link 
	rel="stylesheet" 
	href="../css/solicitud/desktop.css"
	media="screen and (min-width: 992px)"
  >
{% endblock %}

{% block title %} Solicitud {% endblock %}

{% block content %}

  <div id="app-solicitud">  
    <router-view></router-view>
  </div>

  <!-- Vue -->
  <script src="./../../js/vue3.js"></script>
  <script src="./../../js/demi.js"></script>
  <!-- Pinia -->
  <script src="./../../js/pinia.js"></script>
  <!-- Vue router -->
  <script src="./../../js/vue-router.js"></script>
  <!-- Emit -->
  <script src="./../../js/mitt.js"></script>
  <!-- Entidades -->
  <script src="./../../js/mios/entidades/Cliente.js"></script>
  <script src="./../../js/mios/entidades/Referencia.js"></script>
  <script src="./../../js/mios/entidades/Simulador.js"></script>
  <!-- Vuelidate -->
  <script src="./../../libs/vuelidate/demi.js"></script>
  <script src="./../../libs/vuelidate/core.js"></script>
  <script src="./../../libs/vuelidate/validators.js"></script>
  <script src="./../../js/mios/reglas/vuelidate.js"></script>

  {% include "./routes.html" %}

  <script>
    const { ref, reactive, createApp, computed, onMounted, inject } = Vue;
    const { createPinia, defineStore } = Pinia;
    const pinia = createPinia();
    const { useVuelidate } = Vuelidate;
    const { required, email, minLength, sameAs, helpers } = VuelidateValidators;
    const emitter = mitt();
  </script> 

  {% include "./store/solicitud.html" %}
  {% include "./store/cliente.html" %}
  {% include "./store/pasos.html" %}
  {% include "./store/simulador.html" %}

  <script type="text/javascript">
    const appSolicitud = createApp({
      setup(){
        const solicitudSt = solicitudStore();
        const clienteSt = clienteStore();
        const simuladorSt  = simuladorStore();

        const getInsumosCliente = async () => {
          try {
            const res = await axios.get("/api/clientes/create");
            clienteSt.insumos = res.data.insumos;
          } catch (err) {
            alertify.error("Ocurrió un error");
            console.error(err);
          }
        }

        onMounted(() => {
          if (solicitudSt.estado === 'crear') {
            router.push({ name: "simulador" });
          }
          getInsumosCliente();
        });

        return {
          solicitudSt,
          clienteSt,
        }
      },
    });
  </script>

  <script>
    appSolicitud.use(pinia);
    appSolicitud.use(router);
    appSolicitud.provide('emitter', emitter);
    appSolicitud.mount("#app-solicitud");
  </script>

{% endblock %}
