{% extends "../templates/admin/main.html" %}

{% block adicionalHeader %}
  <link rel="stylesheet" href="../css/solicitud/movil.css">
  <link
	rel="stylesheet"
	href="../css/solicitud/tablet.css"
	media="screen and (min-width: 768px)"
  >
  <link 
	rel="stylesheet" 
	href="../css/solicitud/desktop.css"
	media="screen and (min-width: 992px)"
  >
{% endblock %}

{% block title %} Solicitud {% endblock %}

{% block content %}

  <div id="app-solicitud">  
    <!--<pasos-component></pasos-component>-->
    <router-view></router-view>
  </div>

  <script src="./../../js/vue3.js"></script>
  <script src="./../../js/demi.js"></script>
  <script src="./../../js/pinia.js"></script>
  <script src="./../../js/vue-router.js"></script>

  {% include "./routes.html" %}

  <script>
	const { createApp } = Vue;
    const { createPinia, defineStore } = Pinia;
    const pinia = createPinia();
    
	const appSolicitud = createApp({ setup(){} });

  </script>
  
  {% include "./store/pasos.html" %}

  <script>
    appSolicitud.use(pinia);
    appSolicitud.use(router);
    appSolicitud.mount("#app-solicitud");
  </script>

{% endblock %}
