{% include "./pasos/index.html" %}
{% include "./cliente/index.html" %}
{% include "./referencias/index.html" %}

<script>
  const routes = [
    { 
      path: "/",
      name: "pasos",
      component: objPasos,
    },
    {
      path: "/cliente",
      name: "cliente",
      component: objCliente,
    },
    {
      path: "/referencias",
      name: "referencias",
      component: objReferencias
    }
  ];

  const router = VueRouter.createRouter({
    history: VueRouter.createWebHashHistory(),
    routes,
  });
</script>
