{% include "./pasos/index.html" %}
{% include "./cliente/index.html" %}
{% include "./referencias/index.html" %}
{% include "./documentos/index.html" %}
{% include "./terminos/index.html" %}
{% include "./simulador/index.html" %}

<script>
  const routes = [
    { 
      path: "/",
      name: "pasos",
      component: objPasos,
    },
    { 
      path: "/simulador",
      name: "simulador",
      component: objSim,
    },
    {
      path: "/cliente",
      name: "cliente",
      component: objCliente,
    },
    {
      path: "/referencias",
      name: "referencias",
      component: objReferencias
    },
/*    {
      path: "/documentos",
      name: "documentos",
      component: objDocumentos,
    },*/
    {
      path: "/terminos",
      name: "terminos",
      component: objTerminos,
    }
  ];

  const router = VueRouter.createRouter({
    history: VueRouter.createWebHashHistory(),
    routes,
  });
</script>
