<script>
  const onLoadFull = () => {
    const app = document.querySelector("#app");
    const appLoader = document.querySelector('#app-loader');
    appLoader.style.display = "none";
    app.style.opacity = 1; 
  }
  const { ref, createApp, onMounted } = Vue;
  const { createPinia, defineStore } = Pinia;
</script>

{% include "../../session/store.html" %}
{% include "../../login/store.html" %}

<script>
  const navbarApp = createApp({
    delimiters: ['[[', ']]'],
    components: {},
    setup() {
      const sessionSt = sessionStore();
      const loginSt = loginStore();
      const openMenuMobile = ref(false);
      let statusShowPassword = false;
      let navOptionsMobile = null;
      let inputPassword = null;
      let iconVisibility = null;

      const goCuenta = () => {
        window.location.href = `${URL}/cuenta`;
      }

      const logout = () => {
        window.location.href = `${URL}/auth/logout`;         
      }

      const openLoginModal = () => {
        loginSt.showLogin(true, 'access')       
        navOptionsMobile.classList.remove("nav__options--active");
      }

      const showMenuMobile = () => {
        navOptionsMobile.classList.toggle("nav__options--active"); 
      }

      const showPassword = () => {
        statusShowPassword = !statusShowPassword;
        if (statusShowPassword) {
          inputPassword.type="text";     
          iconVisibility.innerHTML="visibility";
        } else {
          inputPassword.type="password";     
          iconVisibility.innerHTML="visibility_off";
        }
      }

      const goInicio = () => {
        window.location.href = "/";
      }

      onMounted(() => {
        sessionSt.getSession();
        navOptionsMobile = document.querySelector("#nav-options_")
    
        inputPassword = document.querySelector("#password");
        iconVisibility = document.querySelector("#icon-visibility");
      });

      return {
        openMenuMobile,
        showMenuMobile,
        showPassword,
        openLoginModal,
        sessionSt,
        loginSt,
        logout,
        goCuenta,
        goInicio
      }
    }
  });
  navbarApp.use(createPinia());
  navbarApp.mount('#navbar-app');
</script>
