<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta content='maximum-scale=1.0, initial-scale=1.0, width=device-width' name='viewport'>

  <link rel="icon" type="image/x-icon" href="/iconos/support.png">

  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/navbar/movil.css">

  <link 
	rel="stylesheet"
	href="/css/navbar/desktop.css" 
	media="screen and (min-width: 800px)"
  >

  <!-- Alertify -->
  <link rel="stylesheet" href="./libs/alertify/alertify.min.css">

  {% block adicionalHeader %} {% endblock %}

  <title>{% block title %} title {% endblock %}</title>
</head>
<body>
  <div>
    <header id="navbar-app">{% include "./navbar.html" %}</header>
    <main>
      {% block content %}
        Poner contenido acá
      {% endblock %}
    </main>
    {% include "../footer.html" %}
  </div>
  <!-- Variables -->
  {% include "../utils/variables.html" %}
  <!-- Libraries -->
  {% include "./libraries.html" %}

  {% include "./logic.html" %}

  {% block scripts %} {% endblock %}

</body>
</html>
