
<div class="detail-card">
  <div class="detail-header">
    <span class="material-icons-outlined detail-header__icon">
      calendar_month 
    </span> 
    <div class="detail-item__name">Pago</div>
  </div>
  <div class="detail-item">
    <span class="detail-item__value">01-01-2022</span>
    <span class="detail-item__title">Próxima fecha de pago</span> 
  </div>
  <div class="detail-item">
    <span class="detail-item__value">$ 154.200</span>
    <span class="detail-item__title">Valor cuota</span> 
  </div>
  <div class="detail-item">
    <span class="detail-item__value">$ 750.000</span>
    <span class="detail-item__title">Saldo de la deuda</span> 
  </div>
  <div class="detail-item">
    <span class="detail-item__value">12</span>
    <span class="detail-item__title">Cuotas faltantes</span> 
  </div>
</div>
