<div class="detail-card">
  <div class="detail-header">
    <span class="material-icons-outlined detail-header__icon">
      groups
    </span>
    <div class="detail-item__name">Referencias</div>
  </div>
  <div class="detail-item">
    <span class="detail-item__value">Jose Pablo Gonzalez Gonzalez</span>
    <div class="detail-item__title">Nombre</div>
  </div>
  <div class="detail-item">
    <span class="detail-item__value">Padre</span>
    <div class="detail-item__title">Parentezco</div>
  </div>
  <div class="detail-item">
    <span class="detail-item__value">Teléfono</span>
    <div class="detail-item__title">3207809668</div>
  </div>
  <div class="detail-item">
    <span class="detail-item__value">Jose Pablo Gonzalez Gonzalez</span>
    <div class="detail-item__title">Nombre</div>
  </div>
  <div class="detail-item">
    <span class="detail-item__value">Padre</span>
    <div class="detail-item__title">Parentezco</div>
  </div>
  <div class="detail-item">
    <span class="detail-item__value">Teléfono</span>
    <div class="detail-item__title">3207809668</div>
  </div>
</div>
