{% extends "../../templates/admin/main.html" %}

{% block adicionalHeader %}
<link rel="stylesheet" href="/css/sheet/movil.css">
<link 
  rel="stylesheet" 
  href="/css/sheet/desktop.css"
  media="screen and (min-width: 992px)"
>
<link
  rel="stylesheet"
  href="/css/sheet/tablet.css"
  media="screen and (min-width: 768px)"
>
{% endblock %}

{% block title %} Crédito {% endblock %}

{% block content %}
<div class="sheet-main">
  <section class="sheet-header">
    <div class="sheet-title__container">
      <span class="sheet-title">Solicitud SOAT Y RTM</span>
      <ul class="sheet-header__menu">
        <li class="sheet-header__option">
          <span class="material-icons-outlined sheet-header__option-icon">
            attach_money
          </span>
          <span class="sheet-header__option-title">Pagos</span>
        </li>
        <li class="sheet-header__option">
          <span class="material-icons-outlined sheet-header__option-icon">
            description
          </span>
          <span class="sheet-header__option-title">Paz y salvo</span>
        </li>
      </ul>
    </div>
  </section>
  <section class="sheet-body">
    <div class="info-card">
      <div class="info-card__left">
        <div class="info-icon__container">
          <span class="material-icons-outlined info-icon">
            keyboard_double_arrow_right
          </span>
        </div>
        <div class="info-content">
          <div class="info-title">
            {% if not data.credito %}
              {% set aprobado = data.solicitud.aprobado %}
              {% if aprobado === 'Si' %}
                Felicitaciones, su solicitud ha sido aprobada  
              {% elif aprobado === 'En estudio' %}
                Su solicitud esta en proceso de aprobación
              {% elif aprobado === 'No' %}
                Lo sentimos, su solicitud no fue aprobada
              {% elif aprobado === 'Desistio' %}
                Usted desistió de esta solicitud
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="detail-container">
      <div class="detail-card">
        <div class="detail-header">
          <span class="material-icons-outlined detail-header__icon">
            hourglass_empty
          </span> 
          <div class="detail-item__name">Condiciones</div>
        </div>
          <div class="detail-item">
            <span class="detail-item__value">{{ data.solicitud.aprobado }}</span>
            <span class="detail-item__title">Estado</span> 
          </div>
        <div class="detail-item">
          <span class="detail-item__value">
            {% for venta in data.ventas %}{{venta.producto}}{% endfor %}
          </span>
          <span class="detail-item__title">Productos</span> 
        </div>
        <div class="detail-item">
          <span class="detail-item__value">{{ data.solicitud.cuotas }}</span>
          <span class="detail-item__title">Número de cuotas</span> 
        </div>
        <div class="detail-item">
          <span class="detail-item__value">{{ data.solicitud.periodo }}</span>
          <span class="detail-item__title">Periodo</span> 
        </div>
        <div class="detail-item">
          <span class="detail-item__value">{{ ddmmyyyy(data.solicitud.fecha) }}</span>
          <span class="detail-item__title">Fecha de solicitud</span> 
        </div>
      </div>
      <div class="detail-card">
        <div class="detail-header">
          <div class="detail-item__name">Vehículo</div>
          <span class="material-icons-outlined detail-header__icon">
            {% set tipoVehiculoId = data.ventas[0].tipo_vehiculo_id %}
            {% if tipoVehiculoId == 2 or tipoVehiculoId == 3 %}
              two_wheeler
            {% else %}
              directions_car
            {% endif %}
          </span> 
        </div>
        <div class="detail-item">
          <span class="detail-item__value">{{ data.ventas[0].vehiculo_placa }}</span>
          <span class="detail-item__title">Placa vehículo</span> 
        </div>
        <div class="detail-item">
          <span class="detail-item__value">{{ data.ventas[0].tipo_vehiculo }}</span>
          <span class="detail-item__title">Tipo de vehículo</span> 
        </div>
        <div class="detail-item">
          <span class="detail-item__value">{{ data.ventas[0].vehiculo_modelo }}</span>
          <span class="detail-item__title">Modelo</span> 
        </div>
        <div class="detail-item">
          <span class="detail-item__value">{{ data.ventas[0].vehiculo_cilindraje }}</span>
          <span class="detail-item__title">Cilindraje</span> 
        </div>
      </div>
      {% if data.credtio %}
      <div class="detail-card">
        <div class="detail-header">
          <span class="material-icons-outlined detail-header__icon">
            calendar_month 
          </span> 
          <div class="detail-item__name">Pago</div>
        </div>
        <div class="detail-item">
          <span class="detail-item__value">01-01-2022</span>
          <span class="detail-item__title">Próxima fecha de pago</span> 
        </div>
        <div class="detail-item">
          <span class="detail-item__value">$ 154.200</span>
          <span class="detail-item__title">Valor cuota</span> 
        </div>
        <div class="detail-item">
          <span class="detail-item__value">$ 750.000</span>
          <span class="detail-item__title">Saldo de la deuda</span> 
        </div>
        <div class="detail-item">
          <span class="detail-item__value">12</span>
          <span class="detail-item__title">Cuotas faltantes</span> 
        </div>
      </div>
      {% endif %}
    </div>
  </section>
</div>
{% endblock %}
