<div id="app-contactos">
</div>

<script type="text/x-template" id="form-contactos-template">
  <form action="">
    <div class="group">
      <!-- DEPARTAMENTO -->
      <div class="input-group">
        <select v-model="departamentoId" @change="getCiudades">
        {% for departamento in insumos.departamentos %}
        <option value="{{ departamento.id }}">{{ departamento.nombre }}</option>
        {% endfor %}
        </select>  
        <label for="departamentos">Departamentos</label>  
      </div>
    </div>
    <div class="group">
      <!-- CIUDADES -->
      <div class="input-group">
        <select v-model="ciudadId" @change="getContacto">
        <option
          :value="ciudad.id"
          v-for="(ciudad, i) in ciudades"
        >
          [[ ciudad.nombre ]]
        </option>
        </select>  
        <label for="ciudad">Ciudad</label>  
      </div>
    </div>
  </form>

  <div class="contacto-list">
    <contacto-component
      v-for="(contacto, i) in contactos"
      :key="i"
      :info="contacto"
    ></contacto-component>
  </div>
</script>

<script type="text/x-template" id="contacto-template">
  <div class="contacto-container">
	<div class="contacto-municipio">
	  <span class="material-icons-outlined contacto-municipio__icono">
		  location_on
	  </span>
	  <span class="contacto-municipio__texto">
      [[ info.municipio_nombre ]] -
      [[ info.departamento_nombre ]]
	  </span>
	</div>
	<div class="contacto-info">
	  <p class="contacto-nombre">[[ info.nombre ]]</p>
	  <div class="contacto-telefono">
		<p>
		  Cel: [[ info.telefono1 ]] 
		  [[ (info.telefono2) ? ' - ' + info.telefono2 : '' ]]
		</p>
		<a :href="'https://wa.me/' + info.telefono1" target="_blank">
		  <span class="material-icons-outlined contacto-whatsapp">
			whatsapp
	      </span>
		</a>
	  </div>
	  <div class="contacto-direccion">
      <p>Dirección: [[ info.direccion ]]</p>
      <a 
        :href="info.localizacion"
        v-if="info.localizacion"
        class="contacto-locationico"
        target="_blank"
      >
        <span class="material-icons-outlined">
        location_on
        </span>
      </a>
	  </div>
	</div>
  </div>  
</script>

<script>
  const appContacto = createApp({ 
	  setup() {} 
  });
  appContacto.component("contacto-component", {
    template: "#contacto-template",
    delimiters: ['[[', ']]'],
    props: ['info'],
  });
  appContacto.component("form-contactos-component", {
	template: "#form-contactos-template",
	  delimiters: ['[[', ']]'],
	  data: () => ({
      departamentoId: null,
      ciudadId: null,
      ciudades: [],
      contactos: [],
	  }),
	  methods: {
		getContacto() {
		  axios.get(`/api/contactos/get-contactos/${this.ciudadId}`)
			.then(res => this.contactos = res.data.contactos)
			.catch(error => alert(error.message));
		},
		getCiudades() {
		  axios.get(`/api/contactos/get-ciudades/${this.departamentoId}`)
			.then(res => this.ciudades = res.data.ciudades)
			.catch(error => alert(error.message)) 
		},
		getSucursales() {
		  axios.get(`/api/contactos/get-sucursales/${this.municipioId}`)
			.then(res => this.sucursales = res.data.sucursales)
			.catch(error => alert(error.message));
		}
	  },
  });
  
  appContacto.mount("#app-contactos");
</script>
