<div class="contacto-general">
  <img
    src="iconos/telefono-de-contacto.svg"
    alt="icono contacto"
    class="contacto-general__icono"
  >
  <span class="contacto-general__titulo">Contáctanos</span>
</div>
<div class="contacto-general__horario">
  <p>
    Horario de atención al cliente de {{ insumos.empresa.horario1 }}, 
    {{ insumos.empresa.horario2 }}
  </p>			
  <address>
	<p>Contactanos en 
	  <a 
      href="mailto:servicioalcliente@inversionesgora.com"
      target="_blank"
	  >
		  {{ insumos.empresa.emailContacto }}
	  </a>
	</p>
  </address>
</div>

