<section class="general">
  <div class="contacto-general">
	<img
	  src="iconos/telefono-de-contacto.svg"
	  alt="icono contacto"
	  class="contacto-general__icono"
	>
	<span class="contacto-general__titulo">Contáctanos</span>
  </div>
  <div class="contacto-general__horario">
	<p>Horario de atención al cliente de lunes a viernes, 8:00 am a 12:00 pm, 
	  2:00 pm a 6:00 pm, Sabados de 8:00 am a 2 pm.</p>			
	<address>
	  <p>Contactanos en 
		<a 
		  href="mailto:servicioalcliente@inversionesgora.com"
		  target="_blank"
		>
		  servicioalcliente@inversionesgora.com
		</a>
	  </p>
	</address>
  </div>
</section>

