{% extends "../templates/public/main.html" %}

{% block adicionalHeader %}
  <link
    rel="stylesheet"
    href="/css/contacto/movil.css"
  >
  <link
    rel="stylesheet"
    href="/css/contacto/tablet.css"
    media="screen and (min-width: 768px)"
  >
  <link
    rel="stylesheet"
    href="/css/contacto/desktop.css"
    media="screen and (min-width: 992px)"
  >
{% endblock %}

{% block title %} Contacto GORA {% endblock %}

{% block content %}
  <div class="bloque-contacto">
    <div class="contacto-container">
      <section class="general">
      {% include "./general.html" %}
      </section>
      <section class="contactos">
        <div id="app-contactos">
          <form-contactos-component />
        </div>
      </section>
    </div>
    <div class="mensaje" id="app-mensaje">
      <mensaje-component />
    </div>  
  </div>
{% endblock %}

{% block scripts %}
  {% include "./contactos.html" %}
  {% include "./mensaje.html" %}
{% endblock %}
