<script type="text/x-template" id="template-terminos">
  <div class="solicitud-board">
    <div class="solicitud-main terminos-main">
      <div class="solicitud-titulo">
        <span>Firmar pagaré</span>
        <div class="divider" style="--width-div:100px"></div>
      </div>
      <p class="terminos__pagare-txt">
        Hemos envíado un código de confirmación a su celular,
        digitelo para firmar el pagaré. 
      </p>
      <div class="terminos-form">
        <input type="number" class="terminos__input-form" ref="digito1">
        <input type="number" class="terminos__input-form">
        <input type="number" class="terminos__input-form">
        <input type="number" class="terminos__input-form">
      </div>
      <div class="terminos__btn-reenviar">
        <a class="bt" href="">Reenviar código</a>
      </div>
      <div class="terminos__btn-aceptar">
        <a class="bt bt__sun" href="">Aceptar</a>
      </div>
    </div>
    <div class="solicitud-icono">
      <img src="./../iconos/condicion.png" alt="icono condiciones">
    </div>
  </div>
</script>

<script>
  const objTerminos = {
    template: "#template-terminos",
    name: "TerminosCondiciones",
    delimiters: ['[[', ']]'],
    setup() {
      const clienteSt = clienteStore();
      const digito1 = ref("");

        onMounted(() => {
          digito1.focus();
        });

      return {
        clienteSt,
        digito1,
      }
    },
  }
</script>
