<template id="aceptar-terminos-template">
  <section :class="['modal', showModal ? 'modal--show': '']">
    <div class="modal__container">
      <div class="modal__header">
        <div class="modal--close" @click="close">&otimes;</div>
        <img src="/imagenes/logo.png" alt="logo" class="modal__logo">
        <span class="modal__titulo">Aceptar términos y condiciones</span>
      </div>
      <div class="modal__content">
        <p class="acep-term-txt">
          Hemos envíado un código de confirmación a su celular,
          por favor digítelo para aceptar términos y condiciones.
        </p>
        <a href="" @click="leerTerminos">Leer términos y condiciones</a>
        <div class="terminos-form">
          <input
            type="number"
            class="terminos__input-form"
            id="one"
            @input="next"
          />
          <input
            type="text"
            maxlength="1"
            class="terminos__input-form"
            pattern="^[1-9]|[0-9]\d$"
            id="two"
            @input="next"
          />
          <input
            type="text"
            maxlength="1"
            class="terminos__input-form"
            pattern="^[1-9]|[0-9]\d$"
            id="three"
            @input="next"
          />
          <input
            type="text"
            maxlength="1"
            class="terminos__input-form"
            pattern="^[1-9]|[0-9]\d$"
            id="four"
            @input="next"
          />
        </div>
      </div>
      <div class="modal__footer">
        <a href="" class="bt bt__default">Reenviar código</a>
        <a href="" class="bt bt__sun" @click="aceptar">Aceptar</a>
      </div>
    </div>
    <terminos-condiciones></terminos-condiciones>
  </section>
</template>

{% include "./terminos.html" %}

<script>
   const objAceptarTerminos = {
    template: "#aceptar-terminos-template",
    name: "AceptarTerminos",
    components: {
      TerminosCondiciones: objTerminosCondiciones,
    },
    delimiters: ['[[', ']]'],
    setup() {
      const showModal = ref(false);
      const show = () => showModal.value = true;
      const close = () => showModal.value = false;

      const leerTerminos = (e) => {
        e.preventDefault();
        emitter.emit("showModalTerminosCondiciones");
      }

      let codigo = "";
      const next = (event) => {
        codigo += event.target.value;
        if (event.target.id == "one") {
          document.querySelector("#two").focus();
        } if (event.target.id == "two") {
          document.querySelector("#three").focus();
        } if (event.target.id == "three") {
          document.querySelector("#four").focus();
        }
      }

      const clienteSt = clienteStore();

      const aceptar = async (event) => {
        event.preventDefault();
        try {
          const data = { usuarioId: null, codigo };
          const res = await axios.post("/api/terminos/validar-codigo", data);
          if (res.data.dat) {
            close(); 
            clienteSt.ir(2);
          } else {
            alertify.alert("Error", "El código no es valido");
          }
        } catch (error) {
          console.error(error);
        }
      }

      onMounted(() => {
        emitter.on("showModalAceptarTerminos", () => {
          document.querySelector("#one").focus();
          show();
        });
      });

      return {
        showModal,
        close,
        leerTerminos,
        next,
        aceptar,
      };
    }
  };
</script>
<style scoped>
  .modal__container {
    max-width: 50rem;
    color: var(--medium);
  }
  .modal__content {
    font-family: regular;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .acep-term-txt {
    text-align: center;
  }
  .modal__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
  }
  .terminos-form {
    display: flex;
    justify-content: center;
  }
  .bt {
    width: fit-content;
  }
</style>
