<template id="aceptar-terminos-template">
  <section :class="['modal', showModal ? 'modal--show': '']">
    <div class="modal__container">
      <div class="modal__header">
        <div class="modal--close" @click="close">&otimes;</div>
        <img src="/imagenes/logo.png" alt="logo" class="modal__logo">
        <span class="modal__titulo">Aceptar términos y condiciones</span>
      </div>
      <div class="modal__content">
        <p class="acep-term-txt">
          Hemos envíado un código de confirmación a su celular,
          por favor digítelo para aceptar términos y condiciones.
        </p>
        <a href="" @click="leerTerminos">Leer términos y condiciones</a>
        <div class="terminos-form">
          <input
            type="number"
            oninput="
              javascript:
                if (this.value.length > this.maxLength) 
                  this.value = this.value.slice(0, this.maxLength);"
            maxLength="4"
            class="terminos__input-form"
            id="input"
          />
        </div>
        <div class="modal__timer" v-if="segundos > 0">
          <span>[[ segundos ]] seg</span>
        </div>
      </div>
      <div class="modal__footer">
        <a
          href="#"
          class="bt bt__default"
          v-if="segundos == 0" 
          @click="reenviarCodigo"
        >
          Solicitar nuevo códido
        </a>
        <a
          href="#"
          class="bt bt__sun"
          @click="aceptar"
          v-if="showAceptar"
        >Enviar código
        </a>
      </div>
    </div>
    <terminos-condiciones></terminos-condiciones>
  </section>
</template>

{% include "./terminos.html" %}

<script>
   const objAceptarTerminos = {
    template: "#aceptar-terminos-template",
    name: "AceptarTerminos",
    components: {
      TerminosCondiciones: objTerminosCondiciones,
    },
    delimiters: ['[[', ']]'],
    setup() {
      const clienteSt = clienteStore();
      const numSegundos = 30;
      const show = () => {
        showModal.value = true;
        resetCodigo();
      }
      const close = () => showModal.value = false;
    
      const leerTerminos = (e) => {
        e.preventDefault();
        emitter.emit("showModalTerminosCondiciones");
      }

      let codigo = reactive({
        one: null,
        two: null,
        three: null,
        four: null
      });
      let showAceptar = ref(false);

      const next = (event) => {
        if (event.target.id == "one") {
          codigo.one = event.target.value;
          document.querySelector("#two").focus();
        } if (event.target.id == "two") {
          codigo.two = event.target.value;
          document.querySelector("#three").focus();
        } if (event.target.id == "three") {
          codigo.three = event.target.value;
          document.querySelector("#four").focus();
        } if (event.target.id == "four") {
          codigo.four = event.target.value;
        }

        if (codigo.one && codigo.two && codigo.three && codigo.four) {
          showAceptar.value = true;
        } else {
          showAceptar.value = false;
        }
      }

      const aceptar = async (event) => {
        event.preventDefault();
        let codigoGeneral = codigo.one + codigo.two + codigo.three + codigo.four;
        await clienteSt.validarCodigoTerminos(codigoGeneral);
      }

      const resetCodigo = () => {
        codigo.one = null;
        document.querySelector("#one").value = "";
        codigo.two = null;
        document.querySelector("#two").value = "";
        codigo.three = null;
        document.querySelector("#three").value = "";
        codigo.four = null;
        document.querySelector("#four").value = "";
      }

      let showReenviarCodigo = ref(false);
      const reenviarCodigo = async (event) => {
        event.preventDefault();
        resetCodigo();
        await clienteSt.validarMovil();
      }

      let segundos = ref();
      const cuentaRegresiva = () => {
        segundos.value = numSegundos;
        let interval;
        interval = setInterval(() => {
          segundos.value --;
          if (segundos.value <= 0) clearInterval(interval)
        }, 1000);
      }

      let showModal = ref(false);
      onMounted(() => {
        emitter.on("showModalAceptarTerminos", () => {
          document.querySelector("#input").focus();
          show();
          cuentaRegresiva();
        });
      });

      return {
        showModal,
        segundos,
        codigo,
        // ------
        close,
        leerTerminos,
        next,
        aceptar,
        reenviarCodigo,
        showAceptar,
      };
    }
  };
</script>
<style scoped>
  .modal__container {
    max-width: 50rem;
    color: var(--medium);
  }
  .modal__content {
    font-family: regular;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .modal__timer {
    font-family: regular;
    font-size: 1.4rem;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .acep-term-txt {
    text-align: center;
  }
  .modal__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
  }
  .terminos-form {
    display: flex;
    justify-content: center;
  }
  .bt {
    width: fit-content;
  }
</style>
