<script src="/js/mios/utils/getters.js"></script>
<script>
const documentosStore = defineStore("documentos", {
  state: () => ({
    device: tipoDispositivo(),
    solicitudId: '{{ solicitudId }}',
    docs: [
      { 
        estado: true,
        codigo: "cedula_frente",
        titulo: "Cédula de ciudadanía (Frente)",
        icono: "cedula-frente.png",
        desc: "Parte delantera de su cédula de ciudadanía",
        completo: false,
        file: null,
        ext: null,
        filename: null
      },
      { 
        estado: true,
        codigo: "cedula_atras",
        titulo: "Cédula de ciudadanía (Atras)",
        icono: "cedula-atras.png",
        desc: "Parte trasera de su cédula de ciudadanía",
        completo: false,
        file: null,
        ext: null,
        filename: null
      },
      { 
        estado: true,
        codigo: "propiedad_frente",
        titulo: "Tarjeta de propiedad (Frente)",
        icono: "tarjeta-propiedad-frente.png",
        desc: "Parte delantera de la tarjeta de propiedad del vehículo",
        completo: false,
        file: null,
        ext: null,
        filename: null
      },
      { 
        estado: true,
        codigo: "propiedad_atras",
        titulo: "Tarjeta de propiedad (Atras)",
        icono: "tarjeta-propiedad-atras.png",
        desc: "Parte trasera de la tarjeta de propiedad del vehículo",
        completo: false,
        file: null,
        ext: null,
        filename: null
      },
      { 
        estado: true,
        codigo: "selfie_rostro",
        titulo: "Fotografía rostro",
        icono: "selfie.png",
        desc: "Fotografia de frente sin tapabocas, gafas o sombrero",
        completo: false,
        file: null,
        ext: null,
        filename: null
      },
      { 
        estado: true,
        codigo: "pago1",
        titulo: "Recibo de pago",
        icono: "tarjeta-credito.png",
        desc: "Fotografía del recibo de pago del estudio",
        completo: false,
        file: null,
        ext: null,
        filename: null
      },
    ],
  }),
  actions: {
    aceptar() {
      window.location.href = `${URL}/cuenta`; 
    }
  }
});
</script>
