<script src="/js/mios/utils/getters.js"></script>
<script>
const documentosStore = defineStore("documentos", {
  state: () => ({
    pendientes: 0,
    device: tipoDispositivo(),
    solicitudId: '{{ solicitudId }}',
    modo: '{{ modo }}',
    urls: JSON.parse('{{ urls | dump }}'.replace(/&quot;/g,'"').replace(/&amp;/g, "&")),
    docs: [
      { 
        estado: true,
        codigo: "cedula_frente",
        titulo: "Cédula de ciudadanía (Frente)",
        icono: "cedula-frente.png",
        desc: "Parte delantera de su cédula de ciudadanía",
        completo: false,
        file: null,
        ext: null,
        filename: null
      },
      { 
        estado: true,
        codigo: "cedula_atras",
        titulo: "Cédula de ciudadanía (Atras)",
        icono: "cedula-atras.png",
        desc: "Parte trasera de su cédula de ciudadanía",
        completo: false,
        file: null,
        ext: null,
        filename: null
      },
      { 
        estado: true,
        codigo: "propiedad_frente",
        titulo: "Tarjeta de propiedad (Frente)",
        icono: "tarjeta-propiedad-frente.png",
        desc: "Parte delantera de la tarjeta de propiedad del vehículo",
        completo: false,
        file: null,
        ext: null,
        filename: null
      },
      { 
        estado: true,
        codigo: "propiedad_atras",
        titulo: "Tarjeta de propiedad (Atras)",
        icono: "tarjeta-propiedad-atras.png",
        desc: "Parte trasera de la tarjeta de propiedad del vehículo",
        completo: false,
        file: null,
        ext: null,
        filename: null
      },
      { 
        estado: true,
        codigo: "selfie_rostro",
        titulo: "Fotografía rostro",
        icono: "selfie.png",
        desc: "Fotografia de frente sin tapabocas, gafas o sombrero, (Rostro descubierto)",
        completo: false,
        file: null,
        ext: null,
        filename: null
      },
      { 
        estado: true,
        codigo: "pago1",
        titulo: "Recibo de pago",
        icono: "tarjeta-credito.png",
        desc: "Fotografía del recibo de pago del estudio. Si aun no la tiene puede dar click en continuar y luego incluirla",
        completo: false,
        file: null,
        ext: null,
        filename: null
      },
    ],
  }),
  actions: {
    aceptar() {
      if (this.pendientes) {
        alertify.alert("Alerta", "Existen documentos pendientes por cargar");
      } else {
        window.location.href = `${URL}/cuenta/${this.solicitudId}`; 
      }
    },
    setUrls() {
      this.docs.forEach((doc) => {
        this.urls.forEach(url => {
          if (url.codigo == doc.codigo) {
            doc.id = url.id;
            doc.file = url.url;
          } 
        })       
      }); 
    },
    deleteDoc(docId) {
      alertify.confirm(
        "Confirmar",
        "¿Esta seguro de eliminar la imagen?",
        () => {
          axios.delete(`${URL}/api/documentos/${docId}`)
            .then(res => {
              alertify.notify("La imagen fue eliminada", "success",
                2, () => this.deleteItemDoc(docId));
            })
            .catch(err => console.eror(err.message))
        },
        () => {}
      );   
    },

    /* Elimina el id y el file de un doc al ser deleteDoc */
    deleteItemDoc(docId) {
      this.docs.forEach(doc => {
        if (doc.id == docId) {
          doc.id = null,
          doc.file = null
        }
      })
    }
  }
});


</script>
