<script type="text/x-template" id="sim-template">
  <div class="solicitud-board simulador-position">
    <div class="simulador-solicitud-main">
      <SimuladorComponent />
      <a
        href="javascript:void(0);"
        class="bt bt__night"
        @click="continuar()"
      >Continuar</a>
    </div>
    <div class="solicitud-icono">
      <img src="./../iconos/maths.svg" alt="icono virtualidad">
    </div>
  </div>
</script>

{% include "./component.html" %}

<script>
  const objSim = {
    template: "#sim-template",
    delimiters: ['[[', ']]'],
    components: {
      SimuladorComponent: objSimulador,
    },
    setup() {
      const solicitudSt = solicitudStore(); 
      const simuladorSt = simuladorStore();

      const continuar = () => {
        if (! simuladorSt.simulador.valorCuota) {
          alertify.alert("Atención", "Por favor llene todos los campos y calcule la cuota para continuar");
        } else {
          solicitudSt.navigationTo("cliente");
        }
      }

      return {
        solicitudSt,
        continuar,
      }
    },
  }
</script>

<style>
  .simulador-solicitud-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
</style>
