<script>
const clienteStore = defineStore("cliente", {
  state: () => ({
    el: new Cliente({}),
    insumos: [],
    validar: true,
    nodos: [
      { indice: 1, activo: false, nombre: "Información inicial", completo: false},
      { indice: 2, activo: false, nombre: "Información personal", completo: false},
      { indice: 3, activo: false, nombre: "Información de ubicación", completo: false},
      { indice: 4, activo: false, nombre: "Información laboral", completo: false },
    ],
  }),
  getters: {},
  actions: {
    ir(indice) {
      this.nodos.forEach((nodo) => {
        if (nodo.indice === indice) nodo.activo = true
        else nodo.activo = false;
      });
    },
    completar(index) {
      this.nodos[index].completo = true;
    },

    // Entrega la data necesaria para crear un usuario

    castDataUsuario() {
        const data = {
          primer_nombre: this.el.primer_nombre,
          segundo_nombre: this.el.segundo_nombre,
          primer_apellido: this.el.primer_apellido,
          segundo_apellido: this.el.segundo_apellido,
          tipo_doc: this.el.tipo_doc,
          num_doc: this.el.num_doc,
          movil: this.el.movil,
          email: this.el.email,
          password: this.el.password,
          confirm: this.el.confirm
        };
        return data;
    },

    async validarExistenciaDeUsuario() {
      try {
        const res = await axios.post(
            '/api/usuarios/validar-usuario-existente', 
            { numDoc: this.el.num_doc }
        ); 
        return res;
      } catch (error) {
        console.error(error);
        throw "Ocurrió un error";
      } 
    },

    /**
     * Valida los datos necesarios para crear un usuario 
     * y genera un codigo para validar terminos y condiciones
     */

    async validarMovil() {
      try {
        const data = this.castDataUsuario();
        const res = await axios.post("/api/usuarios/generar-codigo-terminos", data);

        emitter.emit("showModalAceptarTerminos");
      } catch (error) {
        const resError = error.response.data.error;
        if (resError.name === "ValidationError") {
          alertify.alert("Error en validación", arrToString(resError.message, "<br>")); 
        }
        alertify.alert("Ocurrió un error", resError.message);
      }
    },

    async validarCodigoTerminos(codigo) {
      try {
        const data = { numDoc: this.el.num_doc, codigo };
        const res = await axios.post("/api/usuarios/validar-codigo-terminos", data);
        if (res.data.success) {
          await this.submitUsuario();
        } else {
          alertify.alert("El código no es correcto");
        }
      } catch(error) {
        console.error({error});
      } 
    },
    async submitUsuario() {
      try {
        const usuario = JSON.parse(JSON.stringify(this.el));
        delete usuario.id; 
        const res = await axios.post("/api/usuarios", usuario);
        this.ir(2);
        alertify.notify(
          "Se a registrado exitosamente, complete los campos y de click en continuar",
          "success",
          6
        );
      } catch (error) {
        const resError = error.response.data.error;
        if (resError.name === "ValidationError") {
          alertify.alert("Error en validación", arrToString(resError.message, "<br>")); 
        }
        alertify.alert("Ocurrió un error", resError.message);
      }
    }
  }
});
</script>
