<script>
const pasosStore = defineStore("pasos", {
  state: () => ({
    items: [
		{
		  indice: 1,
		  desc: "Simule el valor de su cuota", 
		  slug: "simulador",
          activo: true
		},
		{ 
		  indice: 2, 
		  desc: "Ingrese sus datos personales", 
		  slug: "cliente", 
		  activo: false
		},
		{
		  indice: 3,
		  desc: "Ingrese sus referencias personales",
		  slug: "referencias", 
		  activo: false
		},
		{
		  indice: 4,
		  desc: "Cargue los documentos",
		  slug: "documentos",
		  activo: false,
		},
		{
		  indice: 5,
		  desc: "Acepte términos y condiciones",
		  slug: "terminos",
		  activo: false
		},
	  ],
  }),
}); 
</script>
