<script>
  const simuladorStore = defineStore("simulador", {
    state: () => ({
      localStorage: window.localStorage,
      insumos: {},
      simulador: this.localStorage.simulador
        ? JSON.parse(this.localStorage.simulador)
        : new Simulador({}),
    }),
    getters: {
      getCuotas() {
        if (
          this.simulador.numCuotas &&
          this.simulador.periodo === "Quincenal"
        ) {
          return this.simulador.numCuotas * 2;
        } else {
          return this.simulador.numCuotas;
        }
      }
    },
    actions: {
      initCuotas() {
        this.simulador.numCuotas = Math.floor(this.insumos.maxCuotas / 2);
      },
      incrementar() {
        if (this.simulador.numCuotas >= this.insumos.maxCuotas) {
          return false;
        }
        this.simulador.numCuotas++;
      },
      decrementar() {
        if (this.simulador.numCuotas <= this.insumos.minCuotas) {
          return false;
        }
        this.simulador.numCuotas--;
      },
      async calcularCuota(e) {
        e.preventDefault();
        await this.setSimulador();
        this.getValorCuota();
      },
      setSimulador() {
        this.localStorage.setItem("simulador", JSON.stringify(this.simulador));
      },
      async getValorCuota() {
        try {
          const res = await axios.post("/api/simulador/get-valor-cuota", this.simulador)
          this.simulador.valorCuota = res.data.valorCuota;
        } catch (err) {
          const error = err.response.data.error;
          alertify.alert("Ocurrió un error", error);
        }
      },
      getInsumos() {
        axios.get("/api/simulador/insumos")
          .then((res) => {
            this.insumos = res.data.insumos;
            this.initCuotas();
          })
      }
    }
  });
</script>
