<script>
const solicitudStore = defineStore("solicitud", {
  state: () => ({
    estado: 'crear',
    solicitudId: null,
    storage: window.localStorage,
    docs: [
      { 
        titulo: "Cédula de ciudadanía (Frente)",
        imagen: "cedula-frente.png",
        desc: "Parte delantera de su cédula de ciudadanía",
        completo: false
      },
      { 
        titulo: "Cédula de ciudadanía (Posterior)",
        imagen: "cedula-atras.png",
        desc: "Parte trasera de su cédula de ciudadanía",
        completo: false
      },
      { 
        titulo: "Tarjeta de propiedad (Frente)",
        imagen: "tarjeta-propiedad-frente.png",
        desc: "Parte delantera de la tarjeta de propiedad del vehículo",
        completo: false
      },
      { 
        titulo: "Tarjeta de propiedad (Atras)",
        imagen: "tarjeta-propiedad-atras.png",
        desc: "Parte trasera de la tarjeta de propiedad del vehículo",
        completo: false
      },
      { 
        titulo: "Fotografía rostro",
        imagen: "selfie.png",
        desc: "Fotografia de frente sin tapabocas ni gafas",
        completo: false
      },
      { 
        titulo: "Recibo de pago",
        imagen: "tarjeta-credito.png",
        desc: "Fotografía del recibo de pago del estudio",
        completo: false
      },
    ],
  }),
  getters: {},
  actions: {
    navigationTo(slug) {
      if (this.storage.getItem("slug") === null) {
        this.storage.setItem("slug", slug); 
        router.push({ name: slug });
      } else {
        if (slug === 'simulador') {
          router.push({ name: this.storage.getItem("slug") });
        } else {
          this.storage.setItem("slug", slug); 
          router.push({ name: slug });
        }
      }
    },
    /**
     * Permite crear un clinte, su solicitud,
     * las ventas por producto y sus respectivos vehiculos
     **/
    onSubmit() {
      const data = {
        cliente: clienteStore().el,
        simulador: simuladorStore().simulador
      };
      
      axios.post("/api/solicitudes/store-with-cliente", data)
        .then(res => {
          alertify.notify(res.data.msg, "success", 2, () => {
            clienteStore().el.id = res.data.dat.clienteId;
            this.solicitudId = res.data.dat.solicitudId;
            const route = `/referencias/123`;
              window.location.href = `${process.env.HOST}:${process.env.PORT}${route}`;
          });
        })
        .catch(error => {
          const errors = error.response.data.error;
          if (errors.name == "ValidationError") {
            alertify.alert("Error", arrToString(errors.msg, "<br>")); 
          } else {
            alertify.alert("Error", errors.message);
          }
        });
    }
  }
});
</script>
