<script>
  // Configuración del front si la session esta activa
  class Access {
    constructor() {
      this.session = null;
      this.username = document.getElementsByClassName("username");
      this.mounted();
    }

    mounted() {
      if (accessToken) {
        this.session = parseJwt(accessToken); 
        for (let i = 0; i < this.username.length; i++) {
          this.username[i].textContent = "Mi cuenta";
          this.username[i].style.display = "block"; 
          this.username[i].style.cursor = "pointer";
          this.username[i].addEventListener("click", () => {
            window.location.href = `${'{{URL}}'}/cuenta`;
          });
        }
      } else {
        for (let i = 0; i < this.username.length; i++) {
          this.username[i].textContent = "";
          this.username[i].style.display = "none"; 
        }
      }
    }
  }
</script>
