<script>
  // Configurar el nav con los datos de session
  // Depende de session

  class Cuenta {
    constructor() {
      this.cuenta = document.getElementsByClassName("cuenta");
      this.configuration();
    }

    configuration() {
      if (session) {
        this.establecerInformacionCuenta();
      } else {
        this.deshabilitarOpcionCuenta();
      }
    }

    establecerInformacionCuenta() {
      for (let i = 0; i < this.cuenta.length; i++) {
        this.cuenta[i].style.display = "block";
        this.cuenta[i].textContent = "Mi cuenta";
        this.cuenta[i].href = "/cuenta";
      }
    }

    deshabilitarOpcionCuenta() {
      for (let i = 0; i < this.cuenta.length; i++) {
        this.cuenta[i].style.display = "none";
      }
    }
  }
</script>
