<script>
  // Boton nav para movil
  const btnNavMenu = document.querySelector("#nav__menu-icon_");
  if (btnNavMenu) {
	btnNavMenu.addEventListener("click", () => {
	  let navOptionsMovil = document.querySelector("#nav-options_");
	  navOptionsMovil.classList.toggle("nav__options--active"); 
	});
  }

  class Nav {
    constructor() {
      this.login = document.getElementsByClaseName("login");
      this.modalLogin = new ModalLogin();
      this.configuracionLogin();
      this.actions();
    }

    configuracionLogin() {
      if (accessToken) {
        for (let i = 0; i < this.login.length; i++) {
          this.login[i].textContent = "Salir";
        }
      } else {
        console.log("sin session");
      }
    }

    actions() {
      this.loginListener();
    } 

    loginListener() {
      for (let i = 0; i < this.login.length; i++) {
        this.login[i].addEventListener("click", (event) => {
          event.preventDefault();
          if (access.session) this.logout();
          else modalLogin.show();
        }); 
      }
    }

    logout() {
      const route = `${'{{URL}}'}/auth/logout`;  
      window.location.href = route;
    }
  }
</script>
