<section class="banner" id="banner">
  <div class="banner-container">
    <div class="banner-title">
      <h1>Crédito para su SOAT</h1>
      <div class="banner-options">
        <a href="#calc" class="bt bt__default">
          Calcular mi cuota
        </a>
	
        <a
          href=""
          class="bt bt__darken"
          @click.stop.prevent="goLoginCuenta"
        >
          Ir a mi cuenta
        </a>
	
      </div>
    </div>
  </div>
  <div class="banner-simulador">
	<div class="banner-simulador__box">
      <div class="banner-simulador__title">
        <h1>Crédito_para su SOAT y RTM.</h1>
        <div class="banner-options">
	  <!--
          <a
            href=""
            class="bt bt__default"
            @click.stop.prevent="inicioSt.solicitar"
          >
            Solicítalo Ahora
          </a>
          <a
            href=""
            class="bt bt__darken"
            @click.stop.prevent="goLoginCuenta"
          >
            Ir a mi cuenta
          </a>
          
        </div>
      </div>
	  <div class="banner-simulador__container" id="calc">
	    <simulador-component></simulador-component>
	  </div>
	</div>
  </div>
</section>

