<nav class="nav">
  <div class="nav__container">
    <img
      class="nav__logo"
      src="/imagenes/logo.png"
      alt="logo gora"
      id="nav-logo"
      @click="goInicio"
    >
    <span
      class="material-icons-outlined nav__menu-icon"
      id="nav__menu-icon_"
      @click="showMenuMobile" 
    >
      menu
    </span>
  </div>
</nav>
<div
  class="nav__options"
  id="nav-options_"
>
  <a class="nav__options-item" href="/">Inicio</a>
  <a class="nav__options-item" href="/nosotros">Nosotros</a>
  <a class="nav__options-item" href="/contacto">Contáctanos</a>
  <a
    v-if="sessionSt.el"
    href="#"
    class="nav__options-item"
    @click.stop.prevent="goCuenta"
  >
    Ir a mi cuenta
  </a>
  <a
    v-if="!sessionSt.el"
    href="#"
    class="nav__options-item login"
    @click.stop.prevent="openLoginModal"
  >
    Ingresar
  </a>
  <a
    v-else
    href="#"
    class="nav__options-item login"
    @click.stop.prevent="logout"
  >
   Salir 
  </a>
  <div class="nav__options-item">
    <div class="nav__social-network">
      <a href="https://www.facebook.com/inversionesgora" target="_blank">
		<img src="/iconos/facebook-square.svg" alt="facebook">
	  </a>
      <a href="https://www.instagram.com/inversiones.gora/" target="_blank">
		<img src="/iconos/instagram-square.svg" alt="instagram">
	  </a>
      <a href="https://wa.me/{{ MY_CONTACT_NUMBER }}" target="_blank">
		<img
		  src="/iconos/whatsapp.png"
		  alt="icono whatsapp"
		  style="
			width:3.5rem;
			height:3.5rem;
			margin-top:0.2rem;
			margin-left:0.2rem;"
		>
	  </a>
    </div>
  </div>
</div>

<!-- DESKTOP -->
<nav class="desk-nav">
  <div class="desk-nav__container">
    <img
      src="/imagenes/logo.png"
      alt="logo gora"
      class="desk-nav__logo"
      @click="goInicio"
    />
    <img
      src="/imagenes/red255.png"
      alt="red255"
      class="desk-nav__logo"
      @click="goInicio"
    />
    <div class="desk-nav__right" id="desk-nav__right_">
      <div class="desk-nav__options">
        <a href="/" class="desk-nav__options-item">Inicio</a>
        <a href="/nosotros" class="desk-nav__options-item">Nosotros</a>
        <a href="/contacto" class="desk-nav__options-item">Contáctanos</a>
        <a
          v-if="sessionSt.el"
          href=""
          class="desk-nav__options-item cuenta"
          @click.stop.prevent="goCuenta"
        >
          Ir a mi cuenta
        </a>
        <a
          v-if="!sessionSt.el"
          href=""
          class="desk-nav__options-item login"
          @click.stop.prevent="openLoginModal"
        >
          Ingresar
        </a>
        <a
          v-else
          href=""
          class="desk-nav__options-item login"
          @click.stop.prevent="logout"
        >
          Salir
        </a>
      </div>
      <div class="desk-nav__social-network">
        <a
		  href="https://www.facebook.com/inversionesgora"
		  class="desk-nav__social-network-item"
		  target="_blank"
		>
		  <img src="/iconos/facebook-square.svg" alt="facebook" />
		</a>
		<a
		  href="https://www.instagram.com/inversiones.gora/"
		  class="desk-nav__social-network-item"
		  target="_blank"
		>
		  <img src="/iconos/instagram-square.svg" alt="instagram" />
		</a>
        <a
          href="https://wa.me/{{ MY_CONTACT_NUMBER }}"
		  class="desk-nav__social-network-item"
		  target="_blank"
		>
		  <img src="/iconos/whatsapp.png" alt="whatsapp" />
		</a>
      </div>
    </div>
  </div>
</nav>
