<script type="text/x-template" id="cliente-template">
  <div class="solicitud-container">
    <InformacionInicial v-show="clienteSt.nodos[0].activo" />
    <InformacionPersonal v-show="clienteSt.nodos[1].activo" />
    <InformacionUbicacion v-show="clienteSt.nodos[2].activo" />
    <InformacionLaboral v-show="clienteSt.nodos[3].activo" />
  </div>
</script>

{% include "./components/nodos.html" %}
{% include "./inicial.html" %}
{% include "./personal.html" %}
{% include "./ubicacion.html" %}
{% include "./laboral.html" %}

<script>
  const objCliente = {
    template: "#cliente-template",
    name: "ClienteComponent",
    delimiters: ['[[', ']]'],
    components: {
      InformacionInicial: objInicial,
      InformacionPersonal: objPersonal,
      InformacionUbicacion: objUbicacion,
      InformacionLaboral: objLaboral,
    },
    setup() {
      const clienteSt = clienteStore();

      async function getInsumos() {
        try {
          const res = await axios.get("/api/clientes/create");
          clienteSt.insumos = res.data.insumos;
        } catch (err) {
          alertify.error("Ocurrió un error");
          console.error(err);
        }
      }

      onMounted(() => {
        clienteSt.nodos[0].activo = true;
        getInsumos();
      });

      return {
        clienteSt,
      }
    },
  }
</script>
