<script type="text/x-template" id="template-inicial">
  <div class="solicitud-board">
    <div class="solicitud-main">
      <NodosComponent /> 
      <div class="solicitud-titulo">
        <span>Información inicial</span>
        <div class="divider" style="--width-div:100px"></div>
      </div>
      <div class="solicitud-form">
        <form @submit.prevent="onSubmit">
          <div class="col-2">
            <!-- PRIMER_NOMBRE -->
            <div class="group">
              <div class="input-group">
                <input
                  type="text"
                  v-model="clienteSt.el.primer_nombre"
                  name="primer_nombre"
                >
                <label for="primer_nombre">Primer nombre *</label>
              </div>
              <span class="helper-txt error" v-if="v$.primer_nombre.$error">
                [[ v$.primer_nombre.$errors[0].$message ]]
              </span>
            </div>
            <div class="group">
              <div class="input-group">
                <!-- SEGUNDO_NOMBRE -->
                <input
                  type="text" 
                  v-model="clienteSt.el.segundo_nombre"
                  name="segundo_nombre"
                >
                <label for="segundo_nombre">Segundo nombre</label>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="group">
              <!-- PRIMER_APELLIDO -->
              <div class="input-group">
                <input
                  type="text"
                  v-model="clienteSt.el.primer_apellido"
                  name="primer_apellido"
                >
                <label for="primer_apellido">Primer apellido *</label>
              </div>
              <span class="helper-txt error" v-if="v$.primer_apellido.$error">
                [[ v$.primer_apellido.$errors[0].$message ]]
              </span>
            </div>
            <div class="group">
              <!-- SEGUNDO APELLIDO -->
              <div class="input-group">
                <input
                  type="text"
                  v-model="clienteSt.el.segundo_apellido"
                  name="segundo_apellido"
                >
                <label for="segundo_apellido">Segundo apellido</label>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="group">
              <!-- TIPO_DOC -->
              <div class="input-group">
                <select
                  v-model="clienteSt.el.tipo_doc"
                  name="tipo_doc"
                >
                  <option
                    v-for="tipo in clienteSt.insumos.listTipoDoc"
                    :value="tipo"
                  >[[ tipo ]]
                  </option>
                </select>
                <label for="tipo_doc">Tipo de identificación *</label>
              </div>
              <span class="helper-txt error" v-if="v$.tipo_doc.$error">
                [[ v$.tipo_doc.$errors[0].$message ]]
              </span>
            </div>
            <div class="group">
              <!-- NUM_DOC -->
              <div class="input-group">
                <input
                  type="text"
                  v-model="clienteSt.el.num_doc"
                  name="num_doc"
                >
                <label for="num_doc">Número de identificación *</label>
              </div>
              <span class="helper-txt error" v-if="v$.num_doc.$error">
                [[ v$.num_doc.$errors[0].$message ]]
              </span>
            </div>
          </div>
          <div class="col-2">
            <div class="group">
              <!-- MOVIL -->
              <div class="input-group">
                <input
                  type="text"
                  v-model="clienteSt.el.movil"
                  name="movil"
                >
                <label for="movil">Teléfono celular *</label>
              </div>
              <span class="helper-txt error" v-if="v$.movil.$error">
                [[ v$.movil.$errors[0].$message ]]
              </span>
            </div>
            <!-- PLACA --> 
            <div class="group">
              <div class="input-group">
                <input
                  type="text"
                  v-model="clienteSt.el.placa"
                  @input="clienteSt.el.placa = $event.target.value.toUpperCase()"
                  name="placa"
                >
                <label for="placa">Placa *</label>
              </div>
              <span class="helper-txt error" v-if="v$.placa.$error">
                [[ v$.placa.$errors[0].$message ]]
              </span>
            </div>
          </div>
          <div class="col">
            <div class="group">
              <!-- EMAIL -->
              <div class="input-group">
                <input
                  type="text"
                  v-model="clienteSt.el.email"
                  name="email"
                >
                <label for="email">Correo electrónico *</label>
              </div>
              <span class="helper-txt error" v-if="v$.email.$error">
                [[ v$.email.$errors[0].$message ]]
              </span>
            </div>
          </div>
          <div class="col-2">
            <div class="group">
              <!-- CONTRASEÑA -->
              <div class="input-group">
                <input
                  type="password"
                  v-model="clienteSt.el.password"
                  name="password"
                >
                <label for="password">Contraseña *</label>
              </div>
              <span class="helper-txt error" v-if="v$.password.$error">
                [[ v$.password.$errors[0].$message ]]
              </span>
            </div>
            <div class="group">
              <!-- CONFIRMACION CONTRASEÑA -->
              <div class="input-group">
                <input
                  type="password"
                  v-model="clienteSt.el.confirm"
                  name="confirm"
                >
                <label for="confirm">Confirmar contraseña *</label>
              </div>
              <span class="helper-txt error" v-if="v$.confirm.$error">
                [[ v$.confirm.$errors[0].$message ]]
              </span>
            </div>
          </div>
          <div class="solicitud-bts">
            <a
              href="javascript:void(0);"
              class="bt"
              @click="solicitudSt.navigationTo('simulador')"
            >Volver</a>
            <button class="bt bt__night">Continuar</button>
          </div>
        </form>
      </div>
    </div>
    <div class="solicitud-icono">
      <img src="./../iconos/virtual.svg" alt="icono virtualidad">
    </div>
    <AceptarTerminos />
  </div>
</script>

{% include "./components/aceptar_terminos.html" %}

<script>
  const objInicial = {
    template: "#template-inicial",
    name: "InforacionInicial",
    delimiters: ['[[', ']]'],
    components: {
      NodosComponent: objNodos,
      AceptarTerminos: objAceptarTerminos,
    },
    setup() {
      const clienteSt = clienteStore();
      const solicitudSt = solicitudStore();

      const aceptarTerminos = () => {
        emitter.emit("showModalAceptarTerminos");
      };

      const rules = computed(() => {
        return {
          primer_nombre: {
            required: helpers.withMessage("El primer nombre es requerido", required),
          },
          primer_apellido: {
            required: helpers.withMessage("El primer apellido es requerido", required),
          },
          tipo_doc: {
            required: helpers.withMessage("El tipo de documento es requerido", required),
          },
          num_doc: {
            required: helpers.withMessage("El número de identificación es requerido", required),
          },
          movil: {
            required: helpers.withMessage("El teléfono celular es requerido", required),
            size: helpers.withMessage("El teléfono debe tener 10 digitos", size(10)),
          },
          placa: {
            required: helpers.withMessage("La placa es requerida", required),
        },
          email: {
            required: helpers.withMessage("El correo electrónico es requerido", required),
            email: helpers.withMessage("Correo con formato incorrecto", email),
          },
          password: {
            required: helpers.withMessage("La contraseña es requerida", required),
            minLength: helpers.withMessage("Se requiren mínimo 6 caracteres", minLength(6)),
          },
          confirm: {
            required: helpers.withMessage("La confirmación de la contraseña es requerida", required),
            sameAsPassword: helpers.withMessage("La confirmación no coincide", sameAs(clienteSt.el.password)),
          },
        }
      });

      const v$ = useVuelidate(rules, clienteSt.el);

      return {
        //......
        clienteSt,
        solicitudSt,
        //......
        v$,
        aceptarTerminos,
      }
    },
    methods: {
      onSubmit() {
        this.v$.$validate();
        if (this.v$.$error) {
          alertify.notify("Complete los campos correctamente", "error", 3); 
        } else {
  //        this.aceptarTerminos();
  //        return;
          this.clienteSt.ir(2);
          this.clienteSt.completar(0);
        }
      }
    }
  }
</script>
