<script type="text/x-template" id="template-laboral">
  <div class="solicitud-board">
    <div class="solicitud-main">
      <NodosComponent /> 
      <div class="solicitud-titulo">
        <span>Información laboral</span>
        <div class="divider" style="--width-div:100px"></div>
      </div>
      <div class="solicitud-form">
        <Form @submit="onSubmit">
          <div class="col">
            <div class="group">
              <!-- OCUPACION -->
              <div class="input-group">
                <Field 
                  as="select"
                  name="oficio"
                  :rules="_required"
                  v-model="clienteSt.el.ocupacion"
                >
                  <option 
                    :value="oficio.nombre"
                    v-for="oficio in clienteSt.insumos.listOficios"
                  >[[ oficio.nombre ]]</option>
                </Field>
                <label for="">Ocupación u oficio *</label>
              </div>
              <ErrorMessage 
                name="oficio"
                class="input-msg error"
              />
            </div>
          </div>
          <div class="col">
            <div class="group">
              <!-- TIPO ACTIVIDAD -->
              <div class="input-group">
                <Field 
                  as="select"
                  name="tipo_actividad"
                  :rules="_required"
                  v-model="clienteSt.el.tipo_actividad"
                  @change="addReglas"
                >
                  <option
                      :value="actividad"
                      v-for="actividad in clienteSt.insumos.listTipoActividad"
                  >[[ actividad ]]</option>
                </Field>
                <label for="">Actividad económica *</label>
              </div>
              <ErrorMessage 
                name="tipo_actividad"
                class="input-msg error"
              />
            </div>
          </div>
          <div
            class="detalle__info-laboral"
            v-if="clienteSt.el.tipo_actividad"
          >
            <div
              class="col"
              v-if="
                clienteSt.el.tipo_actividad == 'Dependiente' ||
                clienteSt.el.tipo_actividad == 'Independiente'"
            >
              <div class="group">
                <!-- EMPRESA -->
                <div class="input-group">
                  <Field
                    name="empresa"
                    type="text"
                    :rules="reglas.empresa"
                    v-model="clienteSt.el.empresa"
                  ></Field>
                  <label for="">Nombre de la empresa *</label>
                </div>
                <ErrorMessage
                  name="empresa"
                  class="input-msg error"
                />
              </div>
            </div>
            <div
              class="col"
              v-if="clienteSt.el.tipo_actividad == 'Dependiente'"
            >
              <div class="group">
                <!-- DOC_EMPRESA -->
                <div class="input-group">
                  <Field
                    name="doc_empresa"
                    type="text"
                    :rules="reglas.doc_empresa"
                    v-model="clienteSt.el.doc_empresa"
                  ></Field>
                  <label for="">Nit/Cedula *</label>
                </div>
                <ErrorMessage
                  name="doc_empresa"
                  class="input-msg error"
                />
              </div>
            </div>
            <div 
              class="col" 
              v-if="
              clienteSt.el.tipo_actividad == 'Dependiente' ||
              clienteSt.el.tipo_actividad == 'Independiente'"              
            >
              <div class="group">
                <!-- DIR_EMPRESA -->
                <div class="input-group">
                  <Field
                    name="dir_empresa"
                    type="text"
                    :rules="reglas.dir_empresa"
                    v-model="clienteSt.el.dir_empresa"
                  ></Field>
                  <label for="">Dirección de la empresa</label>
                </div>
                <ErrorMessage
                  name="dir_empresa"
                  class="input-msg error"
                />
              </div>
            </div>
            <div
              class="col"
              v-if="
                clienteSt.el.tipo_actividad == 'Dependiente' ||
                clienteSt.el.tipo_actividad == 'Independiente'"
            >
              <div class="group">
                <!--  TEL_EMPRESA -->
                <div class="input-group">
                  <Field
                    name="tel_empresa"
                    type="tel"
                    :rules="reglas.tel_empresa"
                    v-model="clienteSt.el.tel_empresa"
                  ></Field>
                  <label for="">Teléfono de la empresa *</label>
                </div>
                <ErrorMessage
                  name="tel_empresa"
                  class="input-msg error"
                />
              </div>
            </div>
            <div
              class="col"
              v-if="
                clienteSt.el.tipo_actividad == 'Dependiente' ||
                clienteSt.el.tipo_actividad == 'Independiente'"
            >
              <div class="group">
                <!-- FECHA_VINCULACION -->
                <div class="input-group">
                  <Field
                    name="fecha_vinculacion"
                    type="date"
                    :rules="reglas.fecha_vinculacion"
                    v-model="clienteSt.el.fecha_vinculacion"
                  ></Field>
                  <label for="">Fecha de vinculación *</label>
                </div>
                <ErrorMessage
                  name="fecha_vinculacion"
                  class="input-msg error"
                />
              </div>
            </div>
            <div
              class="col"
              v-if="clienteSt.el.tipo_actividad == 'Independiente'"
            >
              <div class="group">
                <!-- DESCRIPCION_ACTIVIDAD -->
                <div class="input-group input-group__textarea">
                  <Field
                    name="descripcion_actividad"
                    v-slot="{ field }"
                    :rules="reglas.descripcion_actividad"
                    v-model="clienteSt.el.descripcion_actividad"
                  >
                    <textarea v-bind="field"></textarea>
                  </Field>
                  <label for="">Descripción de la actividad *</label>
                </div>
                <ErrorMessage
                  name="descripcion_actividad"
                  class="input-msg error"
                />
              </div>
            </div>
          </div>
          <div class="solicitud-bts">
            <a href="" class="bt">Volver</a>
            <button class="bt bt__night">Continuar</button>
          </div>
        </Form>
      </div>
    </div>
    <div class="solicitud-icono">
      <img src="./../iconos/teamwork.svg" alt="icono personas">
    </div>
  </div>
</script>

<script>
  const reglasDependiente = {
    empresa: _required,
    doc_empresa: _required,
    dir_empresa: _required,
    tel_empresa: _required,
    fecha_vinculacion: _required,
  }

  const reglasIndependiente = {
    empresa: _required,
    dir_empresa: "",
    tel_empresa: _required,
    fecha_vinculacion: _required,
    descripcion_actividad: _required
  }

  const objLaboral = {
    template: "#template-laboral",
    name: "InforacionLaboral",
    delimiters: ['[[', ']]'],
    components: {
      NodosComponent: objNodos,
      Field: VeeValidate.Field,
      Form: VeeValidate.Form,
      ErrorMessage: VeeValidate.ErrorMessage,
    },
    setup() {
      const clienteSt = clienteStore();
      const reglas = ref(reglasDependiente);

      const addReglas = () => {
        if (clienteSt.el.tipo_actividad == "Independiente") {
          reglas.value = reglasIndependiente;
        } else {
          reglas.value = reglasDependiente;
        }
      };
      const onSubmit = () => {
        //
      }

      return {
        //....
        clienteSt,
        reglas,
        //....
        onSubmit,
        addReglas,
      }
    },
  }
</script>
