<script type="text/x-template" id="template-laboral">
  <div class="solicitud-board">
    <div class="solicitud-main">
      <NodosComponent /> 
      <div class="solicitud-titulo">
        <span>Información laboral</span>
        <div class="divider" style="--width-div:100px"></div>
      </div>
      <div class="solicitud-form">
        <form @submit.prevent> 
          <div class="col">
            <div class="group">
              <!-- OCUPACION -->
              <div class="input-group">
                <select name="oficio" v-model="clienteSt.el.ocupacion">
                  <option 
                    :value="oficio.nombre"
                    v-for="oficio in clienteSt.insumos.listOficios"
                  >[[ oficio.nombre ]]</option>
                </select>
                <label for="oficio">Ocupación u oficio *</label>
              </div>
              <span class="helper-txt error" v-if="v$.ocupacion.$error">
                [[ v$.ocupacion.$errors[0].$message ]]
              </span>
            </div>
          </div>
          <div class="col">
            <div class="group">
              <!-- TIPO ACTIVIDAD -->
              <div class="input-group">
                <select name="tipo_actividad" v-model="clienteSt.el.tipo_actividad">
                  <option
                      :value="actividad"
                      v-for="actividad in clienteSt.insumos.listTipoActividad"
                  >[[ actividad ]]</option>
                </select>
                <label for="tipo_actividad">Actividad económica *</label>
              </div>
              <span class="helper-txt error" v-if="v$.tipo_actividad.$error">
                [[ v$.tipo_actividad.$errors[0].$message ]]
              </span>
            </div>
          </div>
          <div
            class="detalle__info-laboral"
            v-if="clienteSt.el.tipo_actividad"
          >
            <div
              class="col"
              v-if="
                clienteSt.el.tipo_actividad == 'Dependiente' ||
                clienteSt.el.tipo_actividad == 'Independiente'"
            >
              <div class="group">
                <!-- EMPRESA -->
                <div class="input-group">
                  <input name="empresa" type="text" v-model="clienteSt.el.empresa" />
                  <label for="empresa">
                    Nombre de la empresa 
                    [[ (clienteSt.el.tipo_actividad === 'Dependiente') ? " *" : "" ]]
                  </label>
                </div>
                <span class="helper-txt error" v-if="v$.empresa.$error">
                  [[ v$.empresa.$errors[0].$message ]]
                </span>
              </div>
            </div>
            <div
              class="col-2"
              v-if="clienteSt.el.tipo_actividad == 'Dependiente'"
            >
              <!-- TIPO CONTRATO --> 
              <div class="group">
                <div class="input-group">
                  <select name="tipo_contrato" v-model="clienteSt.el.tipo_contrato">
                    <option :value="tipo" v-for="tipo in clienteSt.insumos.listTipoContrato">
                      [[ tipo ]]
                    </option>
                  </select>
                  <label for="">Tipo de contrato *</label>
                </div>
                <span class="helper-txt error" v-if="v$.tipo_contrato.$error">
                  [[ v$.tipo_contrato.$errors[0].$message ]]
                </span>
              </div> 
              <!-- CARGO -->
              <div class="group">
                <div class="input-group">
                  <input type="text" name="cargo" v-model="clienteSt.el.cargo" />
                  <label for="">Cargo *</label>
                </div>
                <span class="helper-txt error" v-if="v$.cargo.$error">
                  [[ v$.cargo.$errors[0].$message ]]
                </span>
              </div>
            </div>
            <div class="col" v-if="clienteSt.el.tipo_actividad == 'Dependiente'">
              <div class="group">
                <!-- DOC_EMPRESA -->
                <div class="input-group">
                  <input
                    name="doc_empresa"
                    type="text"
                    v-model="clienteSt.el.doc_empresa"
                  >
                  <label for="doc_empresa">
                    Nit/Cedula
                    [[ (clienteSt.el.tipo_actividad === 'Dependiente') ? " *" : "" ]]
                  </label>
                </div>
                <span class="helper-txt error" v-if="v$.doc_empresa.$error">
                  [[ v$.doc_empresa.$errors[0].$message ]]
                </span>
              </div>
            </div>
            <div 
              class="col" 
              v-if="
              clienteSt.el.tipo_actividad == 'Dependiente' ||
              clienteSt.el.tipo_actividad == 'Independiente'"              
            >
              <div class="group">
                <!-- DIR_EMPRESA -->
                <div class="input-group">
                  <input
                    name="dir_empresa"
                    type="text"
                    v-model="clienteSt.el.dir_empresa"
                  >
                  <label for="dir_empresa">
                    Dirección de la empresa
                    [[ (clienteSt.el.tipo_actividad === 'Dependiente') ? " *" : "" ]]
                  </label>
                </div>
                <span class="helper-txt error" v-if="v$.dir_empresa.$error">
                  [[ v$.dir_empresa.$errors[0].$message ]]
                </span>
              </div>
            </div>
            <div
              class="col"
              v-if="
                clienteSt.el.tipo_actividad == 'Dependiente' ||
                clienteSt.el.tipo_actividad == 'Independiente'"
            >
              <div class="group">
                <!--  TEL_EMPRESA -->
                <div class="input-group">
                  <input
                    name="tel_empresa"
                    type="tel"
                    v-model="clienteSt.el.tel_empresa"
                  >
                  <label for="tel_empresa">
                    Teléfono de la empresa
                    [[ (clienteSt.el.tipo_actividad === 'Dependiente') ? " *" : "" ]]
                  </label>
                </div>
                <span class="helper-txt error" v-if="v$.tel_empresa.$error">
                  [[ v$.tel_empresa.$errors[0].$message ]]
                </span>
              </div>
            </div>
            <div
              class="col"
              v-if="
                clienteSt.el.tipo_actividad == 'Dependiente' ||
                clienteSt.el.tipo_actividad == 'Independiente'"
            >
              <div class="group">
                <!-- FECHA_VINCULACION -->
                <div class="input-group">
                  <input
                    name="fecha_vinculacion"
                    type="date"
                    v-model="clienteSt.el.fecha_vinculacion"
                  >
                  <label for="fecha_vinculacion">Fecha de vinculación *</label>
                </div>
                <span class="helper-txt error" v-if="v$.fecha_vinculacion.$error">
                  [[ v$.fecha_vinculacion.$errors[0].$message ]]
                </span>
              </div>
            </div>
            <div
              class="col"
              v-if="clienteSt.el.tipo_actividad === 'Independiente'"
            >
              <div class="group">
                <!-- DESCRIPCION_ACTIVIDAD -->
                <div class="input-group input-group__textarea">
                  <textarea
                    name="descripcion_actividad"
                    v-model="clienteSt.el.descripcion_actividad"
                  ></textarea>
                  <label for="descripcion_actividad">Descripción de la actividad *</label>
                </div>
                <span class="helper-txt error" v-if="v$.descripcion_actividad.$error">
                  [[ v$.descripcion_actividad.$errors[0].$message ]]
                </span>
              </div>
            </div>
          </div>
          <div class="solicitud-bts">
            <a href="" class="bt">Volver</a>
            <button class="bt bt__night" @click="onSubmit">Continuar</button>
          </div>
        </form>
      </div>
    </div>
    <div class="solicitud-icono">
      <img src="./../iconos/teamwork.svg" alt="icono personas">
    </div>
  </div>
</script >

<script>

  const objLaboral = {
    template: "#template-laboral",
    name: "InforacionLaboral",
    delimiters: ['[[', ']]'],
    components: {
      NodosComponent: objNodos,
    },
    setup() {
      const clienteSt = clienteStore();
      const solicitudSt = solicitudStore();

      const listReglas = {
        ocupacion: {
          required: helpers.withMessage("La ocupación es requerida", required),
        },
        tipo_actividad: {
          required: helpers.withMessage("La actividad económica es requerida", required),
        },
        fecha_vinculacion: {
          required: helpers.withMessage("La fecha de vinculación es requerida", required),
        }
      };

      const reglasDependiente = {
        empresa: {
          required: helpers.withMessage("El nombre de la empresa es requerido", required),
        },
        descripcion_actividad: {},
        tipo_contrato: {
          required: helpers.withMessage("El tipo de contrato es requerido", required),
        },
        cargo: {
          required: helpers.withMessage("El cargo es requerido", required),
        },
        doc_empresa: {
          required: helpers.withMessage("El documento o cédula de la empresa es requerida", required),
        },
        dir_empresa: {
          required: helpers.withMessage("La dirección de la empresa es requerida", required),
        },
        tel_empresa: {
          required: helpers.withMessage("El teléfono de la empresa es requerido", required),
        },
      }

      const reglasIndependiente = {
        empresa: {},
        descripcion_actividad: {
          required: helpers.withMessage("La descripcion de la actividad es requerida", required),
        },
        tipo_contrato: {},
        cargo: {},
        doc_empresa: {},
        dir_empresa: {},
        tel_empresa: {},
      }

      const getReglas = () => {
        let reglas = listReglas;
        if (clienteSt.el.tipo_actividad === "Dependiente") {
          reglas = { ...reglas, ...reglasDependiente };
        } else {
          reglas = { ...reglas, ...reglasIndependiente };
        }
        console.log({reglas});
        return reglas;
      } 

      const rules = computed(() => getReglas());
      const v$ = useVuelidate(rules, clienteSt.el);
      return {
        //....
        clienteSt,
        solicitudSt,
        //....
        v$,
      }
    },
    methods: {
      onSubmit() {
        this.v$.$validate();
        if (this.v$.$error && false) {
          alertify.notify("Complete los campos correctamente", "error", 3); 
        } else {
          this.solicitudSt.onSubmit();
          //this.clienteSt.completar(3);
          //this.solicitudSt.navigationTo("referencias");
        }
      }
    }
  }
</script>
