<script type="text/x-template" id="template-personal">
  <div class="solicitud-board">
    <div class="solicitud-main">
      <NodosComponent /> 
      <div class="solicitud-titulo">
        <span>Información personal</span>
        <div class="divider" style="--width-div:100px"></div>
      </div>
      <div class="solicitud-form">
        <form @submit.prevent="onSubmit"> 
          <div class="col-2">
            <div class="group">
              <!-- FECHA_EXP -->
              <div class="input-group">
                <input
                  name="fecha_exp"
                  type="date"
                  v-model="clienteSt.el.fecha_exp"
                >
                <label for="">Fecha exped. identificación *</label>
              </div>
              <span class="helper-txt error" v-if="v$.fecha_exp.$error">
                [[ v$.fecha_exp.$errors[0].$message ]]
              </span>

            </div>
            <div class="group">
              <!-- LUGAR_EXP -->
              <div class="input-group">
                <input
                  name="lugar_exp"
                  type="text"
                  v-model="clienteSt.el.lugar_exp"
                  :value="clienteSt.el.lugar_exp.toUpperCase()"
                  @input="clienteSt.el.placa = $event.target.value.toUpperCase()"
                >
                <label for="">Ciudad de exped *</label>
              </div>
              <span class="helper-txt error" v-if="v$.lugar_exp.$error">
                [[ v$.lugar_exp.$errors[0].$message ]]
              </span>
            </div>
          </div>
          <div class="col-2">
            <div class="group">
              <!-- FECHA_NACIMIENTO -->
              <div class="input-group">
                <input
                  name="fecha_nacimiento"
                  type="date"
                  v-model="clienteSt.el.fecha_nacimiento"
                >
                <label for="">Fecha de nacimiento *</label>
              </div>
              <span class="helper-txt error" v-if="v$.fecha_nacimiento.$error">
                [[ v$.fecha_nacimiento.$errors[0].$message ]]
              </span>
            </div>
            <div class="group">
              <!-- LUGAR_NACIMIENTO -->
              <div class="input-group">
                <input
                  name="lugar_nacimiento"
                  type="text"
                  v-model="clienteSt.el.lugar_nacimiento"
                  :value="clienteSt.el.lugar_nacimiento"
                  @input="clienteSt.el.lugar_nacimiento = $event.target.value.toUpperCase()"
                >
                <label for="">Lugar de nacimiento *</label>
              </div>
              <span class="helper-txt error" v-if="v$.lugar_nacimiento.$error">
                [[ v$.lugar_nacimiento.$errors[0].$message ]]
              </span>
            </div>
          </div>
          <div class="col-2">
            <div class="group">
              <!-- GENERO -->
              <div class="input-group">
                <select
                  name="nivel_estudios"
                  v-model="clienteSt.el.genero"
                >
                  <option
                    :value="genero"
                    v-for="genero in clienteSt.insumos.listGenero"
                  >[[ genero ]]</option>
                </select>
                <label for="">Genero *</label>
              </div>
              <span class="helper-txt error" v-if="v$.genero.$error">
                [[ v$.genero.$errors[0].$message ]]
              </span>
            </div>
            <div class="group">
              <!-- ESTA CIVIL -->
              <div class="input-group">
                <select
                  name="estado_civil"
                  v-model="clienteSt.el.estado_civil"
                >
                  <option
                    :value="estado"
                    v-for="estado in clienteSt.insumos.listEstadoCivil"
                  >[[ estado ]]</option>
                </select>
                <label for="">Estado civil *</label>
              </div>
              <span class="helper-txt error" v-if="v$.estado_civil.$error">
                [[ v$.estado_civil.$errors[0].$message ]]
              </span>
            </div>
          </div>
          <div class="col-1">
            <div class="group">
              <!-- NIVEL_ESTUDIOS -->
              <div class="input-group">
                <select
                  name="nivel_estudios"
                  v-model="clienteSt.el.nivel_estudios"
                >
                  <option
                    :value="nivel"
                    v-for="nivel in clienteSt.insumos.listNivelEstudios"
                  >[[ nivel ]]</option>
                </select>
                <label for="">Nivel de estudios *</label>
              </div>
              <span class="helper-txt error" v-if="v$.nivel_estudios.$error">
                [[ v$.nivel_estudios.$errors[0].$message ]]
              </span>
            </div>
          </div>
 
          <div class="solicitud-bts">
            <a href="" class="bt">Volver</a>
            <button class="bt bt__night">Continuar</button>
          </div>
        </form>
      </div>
    </div>
    <div class="solicitud-icono">
      <img src="./../iconos/chico.svg" alt="icono persona">
    </div>
  </div>
</script>

<script>
  const objPersonal = {
    template: "#template-personal",
    name: "InforacionPersonal",
    delimiters: ['[[', ']]'],
    components: {
      NodosComponent: objNodos,
    },
    setup() {
      const clienteSt = clienteStore();

      const rules = computed(() => {
        return {
          fecha_exp: {
            required: helpers.withMessage("La fecha de expedición es requerida", required),
          },
          lugar_exp: {
            required: helpers.withMessage("La fecha de expedición es requerida", required),
          },
          fecha_nacimiento: {
            required: helpers.withMessage("La fecha de nacimiento es requerida", required),
          },
          lugar_nacimiento: {
            required: helpers.withMessage("El lugar de nacimiento es requerido", required),
          },
          genero: {
            required: helpers.withMessage("El genero es requerido", required),
          },
          estado_civil: {
            required: helpers.withMessage("El estado civil es requerido", required),
          },
          nivel_estudios: {
            required: helpers.withMessage("El nivel de estudios es requerido", required),
          },
        }
      });

      const v$ = useVuelidate(rules, clienteSt.el);

      return {
        //.......
        clienteSt,
        //.......
        v$,
      }
    },
    methods: {
      onSubmit() {
        this.v$.$validate();
        if (this.v$.$error && false) {
          //           
        } else {
          this.clienteSt.ir(3);
          this.clienteSt.completar(2)
        }
      },
    }
  }
</script>
