<script type="text/x-template" id="template-ubicacion">
  <div class="solicitud-board">
    <div class="solicitud-main">
      <NodosComponent /> 
      <div class="solicitud-titulo">
        <span>Información de ubicación</span>
        <div class="divider" style="--width-div:100px"></div>
      </div>
      <div class="solicitud-form">
        <form @submit.prevent="onSubmit">
          <div class="col-2">
            <div class="group">
              <!-- ESTRATO -->
              <div class="input-group">
                <select
                  name="estrato"
                  v-model="clienteSt.el.estrato"
                >
                  <option
                    :value="estrato"
                    v-for="estrato in clienteSt.insumos.listEstrato"
                  >[[ estrato ]]</option>
                </select>
                <label for="">Estrato *</label>
              </div>
              <span class="helper-txt error" v-if="v$.estrato.$error">
                [[ v$.estrato.$errors[0].$message ]]
              </span>
            </div>
            <div class="group">
              <!-- FIJO -->
              <div class="input-group">
                <input
                  name="fijo"
                  type="text"
                  v-model="clienteSt.el.fijo"
                >
                <label for="">Teléfono fijo</label>
              </div>
              <span class="helper-txt error" v-if="v$.fijo.$error">
                [[ v$.fijo.$errors[0].$message ]]
              </span>
            </div>
          </div>
          <div class="col-2">
            <div class="group">
              <!-- DEPARTAMENTO ID -->
              <div class="input-group">
                <select
                  name="departamento_id"
                  v-model="departamentoId"
                  @change="getMunicipios"
                >
                  <option
                    :value="departamento.id"
                    v-for="departamento in clienteSt.insumos.listDepartamentos"
                  >[[ departamento.nombre ]]</option>
                </select>
                <label for="">Departamento residencia *</label>
              </div>
            </div>
            <div class="group">
              <!-- CIUDAD_ID -->
              <div class="input-group">
                <select
                  name="ciudad_id"
                  v-model="clienteSt.el.municipio_id"
                >
                  <option
                      v-if="ciudades"
                      :value="ciudad.id"
                      v-for="ciudad in ciudades"
                  >[[ ciudad.nombre ]]</option>
                </select>
                <label for="">Ciudad residencia *</label>
              </div>
              <span class="helper-txt error" v-if="v$.ciudad_id.$error">
                [[ v$.ciudad_id.$errors[0].$message ]]
              </span>
            </div>
          </div>
          <div class="col">
            <div class="group">
              <!-- BARRIO -->
              <div class="input-group">
                <input
                  name="barrio"
                  type="text"
                  v-model="clienteSt.el.barrio"
                >
                <label for="">Barrio/Vereda</label>
              </div>
              <span class="helper-txt error" v-if="v$.barrio.$error">
                [[ v$.barrio.$errors[0].$message ]]
              </span>
            </div>
          </div>
          <div class="col">
            <div class="group">
              <!-- DIRECCION-->
              <div class="input-group">
                <input
                  name="direccion"
                  type="text"
                  v-model="clienteSt.el.direccion"
                 >
                <label for="">Dirección de residencia</label>
              </div>
              <span class="helper-txt error" v-if="v$.direccion.$error">
                [[ v$.direccion.$errors[0].$message ]]
              </span>
            </div>
          </div>
          <div class="col-2">
            <div class="group">
              <!-- TIPO_VIVIENDA -->
              <div class="input-group">
                <select
                  name="tipo_vivienda"
                  v-model="clienteSt.el.tipo_vivienda"
                >
                  <option
                    :value="tipo"
                    v-for="tipo in clienteSt.insumos.listTipoVivienda"
                  >[[ tipo ]]</option>
                </select>
                <label for="">Tipo de vivienda *</label>
              </div>
              <span class="helper-txt error" v-if="v$.tipo_vivienda.$error">
                [[ v$.tipo_vivienda.$errors[0].$message ]]
              </span>
            </div>
            <div class="group">
              <!-- MESES_RESIDENCIA -->
              <div class="input-group">
                <input
                  name="meses_residencia"
                  type="number"
                  v-model="clienteSt.el.meses_residencia"
                 >
                <label for="">Meses en residencia</label>
              </div>
              <span class="helper-txt error" v-if="v$.meses_residencia.$error">
                [[ v$.meses_residencia.$errors[0].$message ]]
              </span>
            </div>
          </div>
          <div class="solicitud-bts">
            <a href="" class="bt">Volver</a>
            <button class="bt bt__night">Continuar</button>
          </div>
        </form>
      </div>
    </div>
    <div class="solicitud-icono">
      <img src="./../iconos/place.svg" alt="icono persona">
    </div>
  </div>
</script>

<script>
  const objUbicacion = {
    template: "#template-ubicacion",
    name: "InforacionUbicacion",
    delimiters: ['[[', ']]'],
    components: {
      NodosComponent: objNodos,
    },
    setup() {
      const clienteSt = clienteStore();
      const departamentoId = ref(null);
      const ciudades = ref([]);

      const getMunicipios = async () => {
        try {
          const res = await axios.get("/api/ciudades/get-departamento/" + departamentoId.value);
          ciudades.value = res.data.ciudades;
        } catch (err) {
          alertify.error("Ha ocurrido un error, lo sentimos");
          console.error(err);
        }
      };

      const rules = computed(() => {
        return {
          estrato: {
            required: helpers.withMessage("El estrato es requerido", required),
          },
          fijo: {
            size: helpers.withMessage("El teléfono debe tener 10 caracteres", size(10)),
          },
          ciudad_id: {
            required: helpers.withMessage("La ciudad es requerida", required),
          },
          barrio: {},
          direccion: {
            required: helpers.withMessage("Los meses de residencia son requeridos", required),
          },
          tipo_vivienda: {
            required: helpers.withMessage("El tipo de vivienda es requerido", required),
          },
          meses_residencia: {
            required: helpers.withMessage("Los meses en residencia son requeridos", required),
          }
        }
      });

      const v$ = useVuelidate(rules, clienteSt.el);

      return {
        // ......
        departamentoId,
        clienteSt,
        ciudades,
        // ......
        getMunicipios,
        v$,
      }
    },
    methods: {
      onSubmit() {
        this.v$.$validate();
        if (this.v$.$error && false) {
          //
        } else {
          this.clienteSt.ir(4);
          this.clienteSt.completar(2);
        }
 
      }
    }
  }
</script>
