<script type="text/x-template" id="doc-template">
  <div class="doc-container">
    <div class="doc-header">
      <img
        src="/iconos/google-docs.png"
        alt="documento"
        class="doc-header__icono" 
    >
      <span class="doc-header__titulo">
        [[ doc.titulo ]]
      </span>
    </div>
    <div class="doc-body">
      <div class="doc-image__container">
        <div v-if="loading" style="width: 100%;display: flex; justify-content: center">
          <div class="loader"></div>
        </div>
        <div  v-else-if="doc.file" style="display: flex; align-items: center; gap: 1rem">
          <img :src="doc.file" :alt="doc.code" class="doc-image">
          <div class="doc-delete" @click="deleteDoc">
            <span class="material-icons doc-delete__icon">delete</span>
            <span class="doc-delete__title">Eliminar</span>
          </div>
        </div>
        <img
          v-else :src="'/imagenes/' + doc.icono"
          alt="icono documento"
          class="doc-image"
          @click="clickUploadFile"
        >
      </div>
      <p class="doc-desc">[[ doc.desc ]]</p>
      <input
        ref="fileInput"
        :id="'file-input_'+doc.codigo"
        type="file"
        @change="loadFile($event)"
        accept=".jpg, .jpeg, .png"
        hidden
      >
      <div class="doc-acciones">
        <a @click="clickUploadFile" href="#" class="bt doc-bts">
          <img
            src="/iconos/octicons/file-directory-open-fill.svg"
            alt="icono archivo"
            @click="clickUploadFile"
          >
            <span v-if="documentosSt.device == 'desktop'">Subir archivo</span>
            <span v-else>Subir imagen</span>
        </a>
        <!--
        <a
          href=""
          class="bt doc-bts"
          @click="showPanelPhoto"
          v-if="documentosSt.device === 'desktop'"
        >
          <img src="/iconos/octicons/camera.svg" alt="boton camara">
          Tomar foto
        </a>
        -->
      </div>
    </div>
  </div>  
</script>

<script>
  class Documento {
    constructor(payload) {
      this.imagen = payload.imagen || '';
      this.nombre = payload.nombre || '';
    }
  }
  const objDocumento = {
    template: "#doc-template",
    delimiters: ['[[', ']]'],
    props: [ "doc" ],
    name: "DocumentoComponent",
    setup(props) {
      const extensiones = ['jpg', 'jpeg', 'png'];
      const documentosSt = documentosStore();
      const fileInput = ref(null);
      const MAX_WIDTH = 600;
      const loading = ref(false);
      const millisecondsWait = ref('{{ MSEC_LOAD_DOC }}');
      let docFile = null;
      let docFilename = null;

      const clickUploadFile = (e) => {
        e.preventDefault();
        fileInput.value.click();
      }

      const loadFile = (e) => {
        loading.value = true;
        
        const file = e.target.files[0];
        const factorPixel = 1;
        
        const reader = new FileReader();
        reader.readAsDataURL(file);

        reader.onload = function(event) {
          const imgElement = document.createElement("img");
          imgElement.src = event.target.result;

          imgElement.onload = function(e) {
            const canvas = document.createElement("canvas");
            const scaleSize = MAX_WIDTH / e.target.width;
            canvas.width = MAX_WIDTH;
            canvas.height = e.target.height * scaleSize;

            const ctx = canvas.getContext("2d");
            ctx.drawImage(e.target, 0, 0, canvas.width, canvas.height);
            docFile = ctx.canvas.toDataURL("image/jpeg", factorPixel); 

            // subir documento
            setTimeout(async () => await sendDoc(), 200);
          }
        }
      }

      const sendDoc = () => {
        const data = {
          base64: docFile,
          nombre: props.doc.codigo
        };

        axios.post(
          `${URL}/api/documentos/${documentosSt.solicitudId}`,
          data,
          { timeout: millisecondsWait.value }
        ).then(res => {
          loading.value = false;
          if (res.data.success) {
            props.doc.file = docFile;
            props.doc.id = res.data.documento.id;
          } else {
            alertify.alert("Ocurrió un error al cargar el documento");
          }
        }).catch(err => {
          console.log(err.message);
          document.getElementById("file-input_" + props.doc.codigo).value = null;
          if (err.message.includes("timeout")) {
            alertify.alert(
              "Error",
              `Su red es demaciado lenta, 
                pruebe nuevamente a cargar la imagen, 
                si ya cargó obvie este mensaje`
            );
          }
          loading.value = false;
        });
      }

      const showPanelPhoto = (e) => {
        e.preventDefault();
      }

      const deleteDoc =() => {
        documentosSt.deleteDoc(props.doc.id); 
      }

      onMounted(() => {
        console.log(millisecondsWait.value);
      });

      return {
        fileInput,
        extensiones,
        documentosSt,
        loading,
        
        clickUploadFile,
        loadFile,
        showPanelPhoto,
        deleteDoc,
      }
    }
  }
</script>
<style lang="scss">
.doc-delete {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.doc-delete__icon {
  color: var(--danger);
}
.doc-delete__title {
  font-family: regular;
  font-family: 1.4rem;
}
</style>
