<script type="text/x-template" id="doc-template">
  <div class="doc-container">
    <div class="doc-header">
      <img
        src="/iconos/google-docs.png"
        alt="documento"
        class="doc-header__icono" 
    >
      <span class="doc-header__titulo">
        [[ doc.titulo ]]
      </span>
    </div>
    <div class="doc-body">
      <div class="doc-image__container">
        <img v-if="doc.file" :src="doc.file" :alt="doc.code" class="doc-image">
        <img v-else :src="'/imagenes/' + doc.icono" alt="" class="doc-image">
      </div>
      <p class="doc-desc">[[ doc.desc ]]</p>
      <input ref="fileInput" type="file" @change="loadFile($event)" hidden>
      <div class="doc-acciones">
        <a @click="clickUploadFile" href="#" class="bt doc-bts">
          <img
            src="/iconos/octicons/file-directory-open-fill.svg"
            alt="icono archivo"
            @click="clickUploadFile"
          >
            <span v-if="documentosSt.device == 'desktop'">Subir archivo</span>
            <span v-else>Subir imagen</span>
        </a>
        <a
          href=""
          class="bt doc-bts"
          @click="showPanelPhoto"
          v-if="documentosSt.device === 'desktop'"
        >
          <img src="/iconos/octicons/camera.svg" alt="boton camara">
          Tomar foto
        </a>
      </div>
    </div>
  </div>  
</script>

<script>
  class Documento {
    constructor(payload) {
      this.imagen = payload.imagen || '';
      this.nombre = payload.nombre || '';
    }
  }
  const objDocumento = {
    template: "#doc-template",
    delimiters: ['[[', ']]'],
    props: [ "doc" ],
    name: "DocumentoComponent",
    setup(props) {
      const extensiones = ['jpg', 'jpeg', 'png'];
      const documentosSt = documentosStore();
      const fileInput = ref(null);
      const MAX_WIDTH = 600;

      const clickUploadFile = (e) => {
        e.preventDefault();
        fileInput.value.click();
      }

      const loadFile = (e) => {
        const file = e.target.files[0];
        props.doc.filename = file.name;
        props.doc.ext = file.type.split("/")[1];
        
        const reader = new FileReader();
        reader.readAsDataURL(file);

        reader.onload = function(event) {
          const imgElement = document.createElement("img");
          imgElement.src = event.target.result;

          imgElement.onload = function(e) {
            const canvas = document.createElement("canvas");
            const scaleSize = MAX_WIDTH / e.target.width;
            canvas.width = MAX_WIDTH;
            canvas.height = e.target.height * scaleSize;

            const ctx = canvas.getContext("2d");
            ctx.drawImage(e.target, 0, 0, canvas.width, canvas.height);
            const srcEncoded = ctx.canvas.toDataURL("image/jpeg", 0.7); 
            props.doc.file = srcEncoded;
            setTimeout(async () => await sendDoc(), 200);
          }
        }
      }

      const sendDoc = () => {
        const data = {
          base64: props.doc.file,
          nombre: props.doc.codigo
        };
        documentosSt.pendientes++;

        axios.post(
          `${URL}/api/documentos/${documentosSt.solicitudId}`,
          data
        ).then(res => {
          if (res.data.success) documentosSt.pendientes --;
          else {
            alertify.alert("Ocurrió un error al cargar el documento");
          }
        });
      }

      const showPanelPhoto = (e) => {
        e.preventDefault();
        emitter.emit("SHOW_MODAL_CAMARA", this.doc);
      }

      return {
        fileInput,
        extensiones,
        documentosSt,
        
        clickUploadFile,
        loadFile,
        showPanelPhoto,
      }
    }
  }
</script>
