{% extends "../templates/admin/main.html" %}

{% block adicionalHeader %}
<link rel="stylesheet" href="./css/sheet/movil.css">
<link 
  rel="stylesheet" 
  href="./css/sheet/desktop.css"
  media="screen and (min-width: 992px)"
>
<link
  rel="stylesheet"
  href="./css/sheet/tablet.css"
  media="screen and (min-width: 768px)"
>
{% endblock %}

{% block title %} Mi cuenta {% endblock %}

{% block content %}
<div class="sheet-main">
  <section class="sheet-header">
    <div class="sheet-title__container">
      <div class="sheet-title">
        <span>Hola, Pablo Adrian</span>
        <img src="/iconos/hombre.png" alt="" class="sheet-title__icon">
      </div>
    </div>
  </section>
  <section class="sheet-body">
    {% for obligacion in info %}
    <div class="info-card">
      <div class="info-card__left">
        <div class="info-icon__container">
          <span class="material-icons-outlined info-icon">
            keyboard_double_arrow_right
          </span>
        </div>
        <div class="info-content">
          <div class="info-title">Solicitud {{ obligacion.solicitud.aprobado | lower }}</div>
          <div class="info-text">Producto: {{ obligacion.productos }}</div>
          <div class="info-text">Fecha de solicitud: {{ ddmmyyyy(obligacion.solicitud.fecha) }}</div>
          <div class="info-text">
            <a href="/cuenta/{{ obligacion.solicitud.id }}" style="color: var(--sky);">Click para mas información</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </section>
</div>
{% endblock %}
