<script>
class Credentials {
  constructor() {
    this.num_doc = null;
    this.movil = null;
    this.password = null;
    this.confirm = null;
  }
}

const logupStore = defineStore("logup", {
  state: () => ({
    credentials: new Credentials(),
    show: false,
  }),
  getters: {},
  actions: {
    showLogup(action) {
      this.show = action;
    },

    async esUsuario() {
      const valid = await this.validation();
      if (!valid) throw "Error de validación";
      try {
        const res = await axios.post("/api/users/es-usuario", {
          num_doc: this.credentials.num_doc,
          movil: this.credentials.movil
        });
        return res.data.body.esUsuario;
      } catch (err) {
        this.errorHandler();
      }
    },

    async onSubmit() {
      if (!this.validation()) return false;
      try {
        const res = await axios.post("/api/users", this.credentials);
        alertify.notify(
          "Se registró el usuario exitosamente",
          "success", 3, () => {}
        );
      } catch (err) {
        this.errorHandler(err);
      }
    },

    validation() {
      let str = '';
      if (!this.credentials.num_doc) {
        str += 'El número de documento es requerido<br>';
      }
      if (!this.credentials.movil) {
          str += 'El teléfono celular es requerido<br>';
      }
      if (!this.credentials.password) {
        str += 'La contraseña es requerida<br>';
      }
      if (!this.credentials.confirm) {
        str += 'La confirmación de la contraseña es requerida';
      }
      if (this.credentials.password !== this.credentials.confirm) {
        str += 'La confirmación de la contraseña no coincide'
      }

      if (str.length) {
        alertify.alert('Error en validación', str, () => {});
        return false;
      }
      return true;
    },

    errorHandler(err) {
      console.error(err);
      if (err.response) {
        const myError = err.response.data;
        if (myError.body.name === 'ValidaError') {
          console.log(myError.body.message);
        } else if (myError.body.name === 'SimpleError'){
          alert(myError.body.message);
        } else {
          alertify.alert('Ocurrió un error, comuniquese con un asesor.');
        }
      } else {
        alertify.alert('Ocurrió un error, comuniquese con un asesor.');
      }
    }
  }
});
</script>
