<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/x-icon" href="/iconos/support.png">
  <meta content='maximum-scale=1.0, initial-scale=1.0, width=device-width' name='viewport'>
  <title>Error 403 GORA</title>
  <link
    rel="stylesheet"
    href="/css/errors/movil.css"
  >
  <link
    rel="stylesheet"
    href="/css/errors/tablet.css"
    media="screen and (min-width: 768px)"
  >
  <link
    rel="stylesheet"
    href="/css/erros/desktop.css"
    media="screen and (min-width: 992px)"
  >
</head>
<body>
  <main class="main">
    <img src="/iconos/parking-barrier.png" alt="talanquera" class="main-icono">  
    <span class="main-mensaje">Acción denegada</span>
    <a href="/" class="main-link">click para ir al inicio</a>
  </main>
</body>
</html>
