<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/navbar/movil.css">
  <link 
	rel="stylesheet" 
	href="../css/navbar/desktop.css"
	media="screen and (min-width: 800px)"
  >
  <!-- Alertify -->
  <link rel="stylesheet" href="../libs/alertify/alertify.min.css">
  <script src="../libs/alertify/alertify.min.js"></script>
  <!-- Adicional scripts and links --> 
  {% block adicionalHeader %} {% endblock %}
  <!-- Axios -->
  <script src="../js/axios.min.js"></script>
  <!-- Title -->
  <title>{% block title %} title {% endblock %}</title>
</head>
<body class="body">
  <header>{% include "./navbar.html" %}</header> 
  <main>
	{% block content %}
	  Poner acá contenido
	{% endblock %}
  </main>
  {% include "../footer_down.html" %}
</body>
</html>
