<script type="text/x-template" id="referencia-template">
  <form class="ref-container">
    <div class="ref-header">
      <img
        src="/iconos/perfil.png"
        alt="icono persona"
        class="ref-header__icono"
      >
      <span class="ref-header__titulo">
        Referencia [[props.index + 1]]
      </span>
    </div>
    <div class="col">
      <div class="group">
        <div class="input-group">
          <select
            name="parentesco"
            v-model="referencia.parentesco"
          >
            <option selected disabled></option>
            <option :value="parentesco" v-for="parentesco in referenciasSt.ltParentesco">
              [[ parentesco ]]
            </option>
          </select>
          <label for="parentesto">Parentesco</label>
        </div>
        <span class="helper-txt error" v-if="v$.parentesco.$error">
          [[ v$.parentesco.$errors[0].$message ]]
        </span>
     </div>
    </div>
    <div class="col">
      <div class="group">
        <div class="input-group">
          <input
            type="text"
            v-model="referencia.nombre"
          />
          <label for="nombre">Nombres y apellidos</label>
        </div>
        <span class="helper-txt error" v-if="v$.nombre.$error">
          [[ v$.nombre.$errors[0].$message ]]
        </span>
      </div>
    </div>
    <div class="col">
      <div class="group">
        <div class="input-group">
          <input
            type="text"
            name="telefonos"
            v-model="referencia.celular"
          />
          <label for="telefonos">Teléfonos</label>
        </div>
        <span class="helper-txt error" v-if="v$.celular.$error">
          [[ v$.celular.$errors[0].$message ]]
        </span>
      </div>
    </div>
  </form>
</script>
<script>  
  const objReferencia = {
    template: "#referencia-template",
    name: "ReferenciaComponent",
    delimiters: ['[[', ']]'],
    props: ['index', 'referencia'], 
    setup(props) {
      const referenciasSt = referenciasStore();
      
      const rules = computed(() => {
        return {
          parentesco: {
            required: helpers.withMessage("El parentesco es requerido", required),
          },
          nombre: {
            required: helpers.withMessage("El nombre es requerido", required),
          },
          celular: {
            required: helpers.withMessage("El teléfono celular es requerido", required),
            size: helpers.withMessage("El teléfono debe tener 10 dígitos", size(10)),
          },
        }
      });
          
      const v$ = useVuelidate(rules, props.referencia);

      return {
        props,
        referenciasSt,
        emitter,
        v$,
      }
    },
    methods: {
      onSubmit() {
        this.v$.$validate();
        if (!this.v$.$error) {
          this.referenciasSt.refsValidas++; 
        }
      }
    },
    created() {
      //this.emitter.on("SUBMIT_REF", () => this.onSubmit());
    }
  }
</script>
