/***************************
 * PASOS / REFS / DOCUMENTOS
 ***************************/
.pasos-container,
.refs-container,
.docs-container {
  padding: 4rem 11.4rem;
}
.pasos-list {
  flex-direction: row;
}
.paso-item {
  flex-direction: column;
}
.paso-contenido {
  width: 100%;
}
.paso-contenido {
  justify-content: center;
}
.paso-desc,
.paso-edit {
  text-align: center;
}
/*******************
 * CREAR SOLICITUD
 *******************/
.solicitud-board {
  grid-template-columns: 1fr 1fr;
}
.solicitud-icono {
  display: block;
}
.solicitud-main {
  max-width: 45.2rem;
}
.solicitud-icono {
  padding: 6rem 0 6rem 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.solicitud-icono img {
  width: 100%;
  max-width: 42rem;
}
