/*************
 * PASOS / REFS
 *************/
.principal-container {
  padding: 6rem 11.4rem;
}
.principal-header__titulo {
  font-size: 3.6rem;
}
.solicitud-board {
  padding: 3rem 11.4rem;
}
.terminos-main {
  width: 40rem;
}
.terminos-form {
  justify-content: start;
}
.terminos__btn-reenviar {
  justify-content: start;
}
.terminos__btn-aceptar {
  justify-content: start;
}
/*******************
 * REFERENCIAS (REF) 
 *******************/
.refs-list,
.docs-list {
  grid-template-columns: 1fr 1fr;
}
/****************
 * REF / DOC
 ****************/
.doc-header__titulo {
  font-size: 1.8rem;  
}
.doc-bts {
  font-size: 1.6rem;
}

