{% extends "../templates/public/main.html" %}

{% block adicionalHeader %}
  <link rel="stylesheet" href="./css/nosotros/movil.css">
  <link 
	rel="stylesheet" 
	href="./css/nosotros/tablet.css"
	media="screen and (min-width: 768px)"
  >
  <link 
	rel="stylesheet"
	href="./css/nosotros/desktop.css"
	media="screen and (min-width: 992px)"
  >
{% endblock %}

{% block title %} Nosotros GORA {% endblock %}
{% block content %}
  <div class="nosotros-container">
	<section class="nosotros-header">
	  <div class="nosotros-header__titulo">Sobre Nosotros</div>
	  <div class="nosotros-header__icono">
		<div class="nosotros-div"></div>
		<span class="material-icons-outlined">groups</span>
		<div class="nosotros-div"></div>
	  </div>
	</section>
	<!-- MISION -->
	<section class="nosotros-item">
	  <img src="/imagenes/safety-cone.jpeg" alt="" class="nosotros-item__imagen">
	  <div class="nosotros-item__desc">
		<span class="nosotros-item__titulo">Misión</span>
		<p class="nosotros-item__parrafo">
		  Facilitar la disminución de riesgos de los motociclistas, mediante el pago de cuotas periódicas
		</p>
	  </div>
	</section>
	<!-- VISION -->
	<section class="nosotros-item vision-container">
	  <img src="/imagenes/vespa-gc.jpeg" alt="" class="nosotros-item__imagen">
	  <div class="nosotros-item__desc">
		<span class="nosotros-item__titulo">Visión</span>
		<p class="nosotros-item__parrafo">
		  Maximizar la seguridad de los motociclistas y transeúntes en las vias.
		</p>
	  </div> 
	</section>
	<section class="nosotros-principios">
	  <div class="principios-header">
		<span class="principios-titulo">Principios</span>
		<div class="divider"></div>
	  </div>
	  <div class="principios-container">
		<div class="principio">
		  <img class="principio-icono" src="iconos/derechos-humanos.png" alt="humano">
		  <p class="principio-parrafo">El ser humano ante todo</p>
		</div>
		<div class="principio">
		  <img class="principio-icono" src="iconos/motivacion.png" alt="humano">
		  <p class="principio-parrafo">Pasión por lo que hacemos</p>
		</div>
		<div class="principio">
		  <img class="principio-icono" src="iconos/familia.png" alt="humano">
		  <p class="principio-parrafo">Pensamiento de familia</p>
		</div>
		<div class="principio">
		  <img class="principio-icono" src="iconos/comunidad.png" alt="humano">
		  <p class="principio-parrafo">Todos por un bien común</p>
		</div>
		<div class="principio">
		  <img class="principio-icono" src="iconos/servicio-al-cliente.png" alt="humano">
		  <p class="principio-parrafo">El cliente nuestra prioridad</p>
		</div>
	  </div>
	</section>
	<section class="nosotros-aliados">
	  <div class="aliados-header">
		<span class="aliados-titulo">Aliados</span>
		<div class="divider"></div>
	  </div>
	  <div class="aliados-container">
		<img class="aliado-item" src="imagenes/aliados/cda_la_27.jpeg" alt="cda la 27">
		<img class="aliado-item" src="imagenes/aliados/cda_san_pedro_neiva.jpeg" alt="cda san pedro">
		<img class="aliado-item" src="imagenes/aliados/cda_control_autos.png" alt="cda control autos">
		<img class="aliado-item" src="imagenes/aliados/cda_pitalito.png" alt="cda pitalito">
		<img class="aliado-item" src="imagenes/aliados/cda_san_isidro.png" alt="cda san isidro">
		<img class="aliado-item" src="imagenes/aliados/cda_sur_del_tolima.jpeg" alt="cda sur del tolima">
		<img class="aliado-item" src="imagenes/aliados/cda_team_advance.jpeg" alt="cda team advance">
		<img class="aliado-item" src="imagenes/aliados/cda_tecnimotors_quimbaya.jpeg" alt="cda tecnimotors quimbaya">
		<img class="aliado-item" src="imagenes/aliados/cda_unimotos.png" alt="cda unimotos">
		<img class="aliado-item" src="imagenes/aliados/cda_solo_motos.png" alt="cda solo motos">
		<img class="aliado-item" src="imagenes/aliados/cda_tecni_motor.jpg" alt="cda tecni motor">
		<img class="aliado-item" src="imagenes/aliados/cda_parque_bolivar.jpg" alt="cda parque bolivar">
		<img class="aliado-item" src="imagenes/aliados/cda_diagnostilisto.jpeg" alt="cda diagnostico">
		<img class="aliado-item" src="imagenes/aliados/asistimotos.jpg" alt="asistimotos">
		<img class="aliado-item" src="imagenes/aliados/cda_san_miguel.png" alt="cda san miguel">
		<img class="aliado-item" src="imagenes/aliados/cda_tecnomotos_ocana.jpeg" alt="cda tecnomotos ocaña">
		<img class="aliado-item" src="imagenes/aliados/cda_autos_del_tolima.png" alt="cda autos del tolima">
		<img class="aliado-item" src="imagenes/aliados/cda_centro_de_diagnostico_automotor.jpeg" alt="cda centro de diagnostico automor">
	  </div>
	</section>
  </div>

{% endblock %}
