<script type="text/x-template" id="template-logup">
  <section
    id="modal-logup"
    :class="['modal', logupSt.show ? 'modal--show' : '' ]"
  >
    <div class="modal__container" style="max-width: 36.6rem">
      <div class="modal__header">
        <div
          class="modal--close"
          id="btn-close__logup"
          @click="logupSt.showLogup(false)"
        >
          &otimes;
        </div>
        <img src="/imagenes/logo.png" alt="logo" class="modal__logo">
        <div class="modal__titulo">Regístrese</div>
        <div class="divider" style="--width-div: 7.8rem"></div>
        <div class="modal__subtitulo">
          Por favor regístrese,
          si usted ya tiene una cuenta de click en "Ya tengo una cuenta"
        </div>
      </div>
      <div class="modal__content">
        <div class="login-form">
          <form id="login-form" @submit.prevent >
            <div class="col">
              <div class="group">
                <div class="input-group">
                  <input
                    class="num_doc"
                    type="text"
                    v-model="logupSt.credentials.num_doc"
                  />
                  <label for="num_doc">Ingrese su número de documento *</label>
                </div>
                <span class="helper-txt">

                </span>
              </div>
            </div>
	    <!-- TELEFONO CELULAR -->
            <div class="col">
              <div class="group">
                <div class="input-group">
                  <input
                    class="num_doc"
                    type="tel"
                    v-model="logupSt.credentials.movil"
                  />
                  <label for="num_doc">Ingrese su teléfono Celular *</label>
                </div>
                <span class="helper-txt">
                </span>
              </div>
            </div>
	    <!-- PASSWORD -->
            <div class="col-1">
              <div class="group">
                <div class="input-group">
                  <input
                    type="password"
                    id="input-password-registro"
                    v-model="logupSt.credentials.password"
                  />
                  <a
                    href=""
                    class="material-icons-outlined input-group__icon"
                    id="show-password-registro"
                    @click.stop.prevent="showPasswordRegistro('password')"
                  >
                    <span id="icon-password-registro">visibility_off</span>
                  </a>
                  <label for="password">
                    Cree una contraseña *
                  </label>
                </div> 
              </div>
	    </div>
            <div class="col-1">
              <div class="group">
                <div class="input-group">
                  <input
                    type="password"
                    id="input-confirm-registro"
                    v-model="logupSt.credentials.confirm"
                  />
                  <a
                    href=""
                    class="material-icons-outlined input-group__icon"
                    id="show-confirm-registro"
                    @click.stop.prevent="showPasswordRegistro('confirm')"
                  >
                    <span id="icon-confirm-registro">visibility_off</span>
                  </a>
                  <label for="confirm">
                    Confirme su contraseña *
                  </label>
                </div>
              </div>
            </div>
            <div class="group center">
              <button class="bt bt__night" @click="registrar">
                Registrarme
              </button>
            </div>
            <div class="col">
              <div class="group center">
                <a
                  href=""
                  class="modal__link"
                  id="btn-in__login"
                  @click.stop.prevent="loginSolicitud"
                >
                  Ya tengo una cuenta
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</script>

<script>
  const objLogup = {
    template: "#template-logup",
    name: "LogupComponent",
    delimiters: ['[[', ']]'],
    setup() {
      const logupSt = logupStore();
      const inicioSt = inicioStore();

      const registrar = async () => {
        await inicioSt.registrar ();
      }

      const loginSolicitud = () => {
        logupSt.loginSolicitud(); 
      }

      /********************/

      let statusShowPasswordRegistro = false;
      const passwordRegistro = {
        password: { 
          status: false,
          input: null,
          icon: null,
        },
        confirm: { 
          status: false,
          input: null,
          icon: null,
        }
      };

      const showPasswordRegistro = (element) => {
        passwordRegistro[element].status = !passwordRegistro[element].status;
    
        if (passwordRegistro[element].status) {
          passwordRegistro[element].input.type = "text";
          passwordRegistro[element].icon.innerHTML = "visibility";
        } else {
          passwordRegistro[element].input.type = "password";
          passwordRegistro[element].icon.innerHTML = "visibility_off";
        }
      }

      /********************/

      onMounted(() => {
        passwordRegistro.password.input = document.querySelector("#input-password-registro");
        passwordRegistro.password.icon = document.querySelector("#icon-password-registro");
        passwordRegistro.confirm.input = document.querySelector("#input-confirm-registro");
        passwordRegistro.confirm.icon = document.querySelector("#icon-confirm-registro");
      });

      return {
        logupSt,
        inicioSt,
        registrar,
        loginSolicitud,
        showPasswordRegistro,
      }
    }
  };
</script>
