.sheet-main {}
/* HEADER */
.sheet-header {}
.sheet-title__container {
}
.sheet-title {}
.sheet-title__icon {}

.info-card {
  max-width: 60rem;
}
.detail-container {
  flex-wrap: nowrap;
}
.detail-card {
  width: 33%;
}
