<script>
const referenciasStore = defineStore("referencias", {
  state: () => ({
    loader: false,
    numReferencias: '{{ CANTIDAD_REFS }}',
    refsValidas: 0,
    refs: JSON.parse('{{ referencias | dump }}'.replace(/&quot;/g,'"').replace(/&amp;/g, "&")) || [],
    estado: '{{ estado }}',
    ltParentesco: '{{ ltParentesco }}'.split(','),
    solicitudId: '{{ solicitudId }}'
  }),
  actions: {
    setReferencias() {
      if (this.estado === 'crear') {
        for (let i = 0; i < this.numReferencias; i++) {
          this.refs.push(new Referencia({}));
        }
      } else if (this.estado == 'editar'){
        for (let i = 0; i < this.numReferencias; i++) {
          if (!this.refs[i]) {
            this.refs.push(new Referencia({}));
          }
        }
      }
    },
    async onSubmit() {
      if (this.loader) return false;
      this.loader = true;

      // validacion de formularios
      this.refsValidas = 0;
      emitter.emit("SUBMIT_REF");

      if (this.refsValidas != this.numReferencias) {
        this.loader = false;
        alertify.notify("Complete la información por favor", "error");
        return;
      }

      // envío de datos
      const route = `/api/referencias/multiple/${this.solicitudId}`;
      const data = { referencias: this.refs }

      try {
        this.compareRefs();

        const res = (this.estado == "crear") 
          ? await axios.post(route, data)
          : await axios.put(route, data);

        alertify.notify(
          res.data.msg,
          "success",
          2, 
          () => {
          window.location.href = (this.estado === "crear")
            ? `${URL}/documentos/create/${this.solicitudId}`
            : `${URL}/cuenta/${this.solicitudId}`
          }
        );
      } catch (err) {
        console.error(err);
        this.loader = false;
        alertify.alert("Ocurrió un error", err);
      }
    },
  
    compareRefs() {
      for (let i=0; i < this.refs.length; i++) {
        const tempRef = this.refs[i];

        for (let j = i+1; j < this.refs.length; j++) {
          if (tempRef.celular == this.refs[j].celular) {
            throw 'Lo sentimos, no pueden existir teléfonos duplicados';
          }
          if (tempRef.nombre == this.refs[j].nombre) {
            throw 'Lo sentimos, no pueden existir nombres duplicados';
          }
        }
      }
    }
  },
});
</script>
