<section class="banner" id="banner">
  <div class="banner-container">
    <div class="banner-title">
      <h1>Crédito para su SOAT</h1>
      <a href="#calc" class="bt bt__default">Calcular mi cuota</a>
    </div>
  </div>
  <div class="banner-simulador">
	<div class="banner-simulador__box">
      <div class="banner-simulador__title">
        <h1>Crédito para su SOAT</h1>
        <a href="/solicitudes/create" class="bt bt__default">Solicítalo Ahora</a>
      </div>
	  <div class="banner-simulador__container" id="calc">
        <simulador-component></simulador-component>
	  </div>
	</div>
  </div>
</section>

