{% extends "../templates/main.html" %}

{% block adicionalHeader %}
  <link rel="stylesheet" href="/css/banner/movil.css">
  <link
	rel="stylesheet"
	href="/css/banner/tablet.css"
	media="screen and (min-width: 768px)"
  >
  <link 
	rel="stylesheet" 
	href="/css/banner/desktop.css"
	media="screen and (min-width: 992px)"
  >
{% endblock %}

{% block title %} Inicio GORA {% endblock %}

{% block content %}

  <div id="home">
    {% include "./banner.html" %}  

    {% include "./steps.html" %}

    {% include "../templates/footer.html" %}
  </div>
  
{% endblock %}
{% block scripts %}
  <script src="/js/vue3.js"></script>
  <script src="/js/demi.js"></script>
  <script src="/js/pinia.js"></script>
  <script src="/js/mios/entidades/Simulador.js"></script>
  <script src="/js/mios/reglas/filters.js"></script>

  <script>
    const { createApp, onMounted } = Vue;
    const { createPinia, defineStore } = Pinia; 
  </script>

  {% include "./../auth/logup.html" %}
  {% include "./../solicitud/simulador/component.html" %}
  {% include "./../solicitud/store/simulador.html" %}

  <script>
    const homeApp = createApp({
      setup() {
        const simuladorSt = simuladorStore();
        const logup = new ModalLogup();

        const solicitar = (e) => {
          e.preventDefault();
          if (!session) logup.show();
          else alert('El usuario tiene session activa');
        };

        onMounted(() => {
          // Se hace borra el storage al iniciar
          const storage = window.localStorage;
          storage.removeItem("slug");
        });

        return {
          simuladorSt,
          solicitar,
        }
      }
    });

    homeApp.config.globalProperties.$filters = misFilters; 
    homeApp.use(createPinia());
    homeApp.component("simulador-component", objSimulador);
    homeApp.mount("#home");
  </script>
{% endblock %}
