<section class="section-steps">
  <div class="steps__head">
	<span class="steps__title">¿Como lo hago?</span>
	<img
	  class="steps__icon-question"
	  src="/iconos/question.png"
	  alt="¿Como lo hago?"
	>
	<div class="steps__head-div"></div>
  </div>
  <div class="steps__list">
	<div class="step__item">
	  <div class="step__icon">
		<img src="/iconos/maths.svg" alt="icono calculadora">
	  </div>
	  <p class="step__text">Simule el valor de su cuota</p>
	</div>
	<div class="step__item">
	  <div class="step__icon">
		<img src="/iconos/google-forms.png" alt="icono formulario">
	  </div>
	  <p class="step__text">Ingrese sus datos de perfil</p>
	</div>
	<div class="step__item">
	  <div class="step__icon">
		<img src="/iconos/selfies.png" alt="icono selfie">
	  </div>
	  <p class="step__text">Envíenos un par de fotos</p>
	</div>
	<div class="step__item">
	  <div class="step__icon">
		<img src="/iconos/ok.png" alt="icono ok">
	  </div>
	  <p class="step__text">Y listo, espere la confirmación de aprobación</p>
	</div>
	<div class="step__item">
	  <div class="step__icon">
		<img src="/iconos/jump.png" alt="icono salto">
	  </div>
	  <p class="step__text">Si todo esta correcto, usted tendrá su producto, facil y sencillo</p>
	</div>	
  </div>
  <div class="steps__submit">
	<a href="/solicitudes/create" class="bt bt__night">
      Solicítalo Ahora
    </a>
  </div>
</section>
