{% extends "../templates/admin/main.html" %}

{% block adicionalHeader %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="/css/solicitud/movil.css">
  <link
	rel="stylesheet"
	href="/css/solicitud/tablet.css"
	media="screen and (min-width: 768px)"
  >
  <link 
	rel="stylesheet" 
	href="/css/solicitud/desktop.css"
	media="screen and (min-width: 992px)"
  >
{% endblock %}

{% block title %} Documentos GORA {% endblock %}

{% block content %}
  <div id="app-documentos">
    <camara-component></camara-component>
    <documentos-component v-show="showDashboard"></documentos-component>
  </div>
  <!-- Vue -->
  <script src="/js/vue3.js"></script>
  <script src="/js/demi.js"></script>
  <!-- Pinia -->
  <script src="/js/pinia.js"></script>

  <script>
    const { ref, createApp, onMounted, inject } = Vue;  
    const { createPinia, defineStore } = Pinia;
    const pinia = createPinia();
  </script>

  {% include "./store/documentos.html" %}
  {% include "./components/documentos.html" %}
  {% include "./components/camara.html" %}
  
  <script>
    const appDocs = createApp({
      components: {
        DocumentosComponent: objDocumentos,
        CamaraComponent: objCamara,
      },
      setup(){
        let showDashboard = ref(true);

        return {
          showDashboard,
        }
      },
    });
  </script>

  <script>
    appDocs.use(pinia);
    appDocs.mount("#app-documentos");
  </script>

  <style>
    .app-documentos {
      position: relative;
    }
  </style>

{% endblock %}
