<footer class="footer">
  <a href="/">
	<img
	  src="/imagenes/logo.png"
	  alt="logo inversiones gora"
	  class="footer__logo"
	>
  </a>
  <p class="footer__text">{{ GORA_DIRECCION }}</p>
  <p class="footer__text">
    Tel: {{ GORA_TELEFONO_1 }} - {{ GORA_TELEFONO_2 }}
  </p>
  <div class="footer__networks">
	<a href="https://www.facebook.com/inversionesgora" target="_blank">
	  <img
		src="/iconos/facebook-square.svg"
		alt="link facebook inversiones gora"
	  >
	</a>
	<a href="https://www.instagram.com/inversiones.gora" target="_blank">
	  <img
		src="/iconos/instagram-square.svg"
		alt="link instagram inversiones gora"
	  >
	</a>
	<a
      href="https://wa.me/{{ MY_CONTACT_NUMBER }}"
      target="_blank"
    >
	  <img
		src="/iconos/whatsapp.png"
		alt="link whatsapp inversiones gora"
		style="margin-bottom: 2px;"
	  >
	</a>
  </div>

  <p class="footer__copyright">
   <a href="https://www.etereosum.com/" target="_blank">
     Creado por www.etereosum.com
   </a>
   <span>Copyright 2021 Inversiones Gora SAS</span>
  </p>

  {% include "./footer_down.html" %}

</footer>
