<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta content='maximum-scale=1.0, initial-scale=1.0, width=device-width' name='viewport'>

  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/navbar/movil.css">

  <link 
	rel="stylesheet"
	href="/css/navbar/desktop.css" 
	media="screen and (min-width: 800px)"
  >

  <!-- Alertify -->
  <link rel="stylesheet" href="./libs/alertify/alertify.min.css">
  <script src="/libs/alertify/alertify.min.js"></script>

  {% block adicionalHeader %} {% endblock %}

  <script src="/js/axios.js"></script>

  <title>{% block title %} title {% endblock %}</title>
</head>
<body class="body">
  <header>{% include "./navbar.html" %}</header>
  <main>
   {% block content %}
      Poner contenido acá
    {% endblock %}
  </main>
  {% include "./scripts.html" %}
  {% block scripts %} {% endblock %}
</body>
</html>
