<section class="modal modal--show">
  <div class="modal__container">
    <div class="modal--close">&otimes;</div>
    <div class="modal__header">
      <img src="/imagenes/logo.png" alt="logo" class="modal__logo">
      <span class="modal__titulo">Titulo</span>
    </div>
    <div class="modal__content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae magna neque. 
        In dapibus feugiat tempor. Aenean lectus sapien, ornare nec nunc a, 
        dictum fermentum eros. Maecenas a tellus ut nulla vehicula malesuada. 
        Nulla facilisi. Cras ullamcorper tortor vitae tincidunt elementum. 
        Aenean congue convallis turpis convallis interdum. 
        Curabitur nisi augue, dictum non efficitur quis, 
        imperdiet sit amet nibh. Ut interdum nunc sit amet accumsan iaculis. 
        Ut risus nisl, molestie eu euismod at, tincidunt quis lorem. Sed convallis id ante quis lobortis.
      </p>
    </div>
    <div class="modal__footer">
      <a href="" class="bt bt-night">Boton</a>
    </div>
  </div>
</section>
