<!-- Modal login -->
{% include "../auth/login.html" %}

<!-- Cerrar session -->
{% include "./utils/logout.html" %}

<!-- Administración boton menu movil -->
{% include "./utils/menu-nav.html" %}

<!-- obtiene la session si esta activa -->
{% include "./utils/session.html" %}

<!-- Opción login -->
{% include "./utils/login.html" %}

<!-- Muestra los datos de session en pantalla -->
{% include "./utils/cuenta.html" %}

<script>
  const session = Session.make("access_token");

  const login = new Login();
 
  const cuenta = new Cuenta();
</script>
